<!DOCTYPE html>
{% load static %}
<html lang="ru">
    <head>
        <title>Tiflani - Детская ортопедическая обувь</title>
        <link rel="shortcut icon" type="image/png" href="{% static 'images/icons/favicon.ico' %}">
        {% include 'head_css.html' %}


    </head>

    <body>

        <div class="super_container" style="background-image: url({% static 'images/background3.png' %})">

            {% include 'navbar.html' %}

            {% block content %}




            {% endblock %}

            {% include 'navbardown.html' %}

            {% include 'javascript.html' %}

        </div>

    </body>
</html>
