{% load static %}
<div class="navbardown" style="background-image:url({% static 'images/background2.png' %})">
    <div class="container fill_height">
        <div class="row p-t-60">


            <div class="col-lg-6">
                <div class="footer_nav_container d-flex flex-sm-row flex-column align-items-center justify-content-lg-start justify-content-center text-center">
                    <ul class="footer_nav cl0">
                        <li><a href="#">Ссылка 1</a></li>
                        <li><a href="#">Сылка 2</a></li>
                        <li><a href="/contact">Контакты</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="footer_social d-flex flex-row align-items-center justify-content-lg-end justify-content-center">
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        <li><a href="#"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-lg-12">
                <div class="footer_nav_container">
                    <div class="cr">©2019 Все права защищены</div>
                </div>
            </div>
        </div>
    </div>
</div>