{% load static %}

<header class="header trans_300">



		<!-- Main Navigation -->

		<div class="main_nav_container">
			<div class="container">
				<div class="row">
					<div class="col-lg-12 text-right">

                    <div href="/" class="logo_container">
						<a href="/">
                            <div class="logo">
                                <img src="{% static 'images/logo.png' %}" alt="IMG-LOGO">
                            </div>
						</a>
                    </div>


						<nav class="navbar">
							<ul class="navbar_menu">
                                {% if active == 'About' %}
									<li style="margin-top: 10px;"> <a  class="current"href="/">О нас</a> <div class="circle1"></div><div class="circle2"></div> <div class="circle3"></div></li>
								{% else %}
									<li><a href="/">О нас</a></li>
								{% endif%}

                                {% if active == 'Stores' %}
									<li style="margin-top: 10px;"> <a  class="current"href="/stores">Магазины</a> <div class="circle1"></div><div class="circle2"></div> <div class="circle3"></div></li>
								{% else %}
									<li><a href="/stores">Магазины</a></li>
								{% endif%}

								{% if active == 'Collection' %}
									<li style="margin-top: 10px;"> <a  class="current"href="/collection">Коллекции</a> <div class="circle1"></div><div class="circle2"></div> <div class="circle3"></div></li>
								{% else %}
									<li><a href="/collection">Коллекции</a></li>
								{% endif%}



								{% if active == 'Deals' %}
									<li style="margin-top: 10px;"> <a  class="current"href="/deals">Акции</a> <div class="circle1"></div><div class="circle2"></div> <div class="circle3"></div></li>
								{% else %}
									<li><a href="/deals">Акции</a></li>
								{% endif%}


								{% if active == 'Franquicia' %}
									<li style="margin-top: 10px;"> <a  class="current"href="/franquicia">Франшиза</a> <div class="circle1"></div><div class="circle2"></div> <div class="circle3"></div></li>
								{% else %}
									<li><a href="/franquicia">Франшиза</a></li>
								{% endif%}

								{% if active == 'Contact' %}
									<li style="margin-top: 10px;"> <a  class="current"href="/contact">Контакты</a> <div class="circle1"></div><div class="circle2"></div> <div class="circle3"></div></li>
								{% else %}
									<li><a href="/contact">Контакты</a></li>
								{% endif%}
							</ul>
							<div class="hamburger_container">
								<i class="fa fa-bars" aria-hidden="true"></i>
							</div>
						</nav>
					</div>
				</div>
			</div>
		</div>

	</header>


<div class="fs_menu_overlay"></div>
	<div class="hamburger_menu">
		<div class="hamburger_close"><i class="fa fa-times" aria-hidden="true"></i></div>
		<div class="hamburger_menu_content text-right">
			<ul class="menu_top_nav">

				<li class="menu_item"><a href="/">О нас</a></li>
				<li class="menu_item"><a href="/stores">Магазины</a></li>
				<li class="menu_item"><a href="/collection">Коллекции</a></li>
				<li class="menu_item"><a href="/deals">Акции</a></li>
				<li class="menu_item"><a href="/franquicia">Франшиза</a></li>
				<li class="menu_item"><a href="/contact">Контакты</a></li>
			</ul>
		</div>
	</div>
