@charset "utf-8";
/* CSS Document */

/******************************

COLOR PALETTE

#FF6347 - (Tomato)
#989898 - (Spanish Grey) - Text Color
#F5F9F8 - (White Smoke) - Background Color


[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Home
	3.1 Currency
	3.2 Language
	3.3 Account
	3.4 Main Navigation
	3.5 Hamburger Menu
	3.6 Logo
4. Breadcrumbs
5. Google Map
6. Contact Us
7. Follow Us
8. Contact Form
9. Newsletter
10. Footer



*/


/*!**********************************/
/*3.5 Hamburger Menu*/
/**********************************!*/

/*.hamburger_container*/
/*{*/
	/*display: none;*/
	/*margin-left: 40px;*/
/*}*/
/*.hamburger_container i*/
/*{*/
	/*font-size: 24px;*/
	/*color: #1e1e27;*/
	/*-webkit-transition: all 300ms ease;*/
	/*-moz-transition: all 300ms ease;*/
	/*-ms-transition: all 300ms ease;*/
	/*-o-transition: all 300ms ease;*/
	/*transition: all 300ms ease;*/
/*}*/
/*.hamburger_container:hover i*/
/*{*/
	/*color: #b5aec4;*/
/*}*/
/*.hamburger_menu*/
/*{*/
	/*position: fixed;*/
	/*top: 0;*/
	/*right: -400px;*/
	/*width: 400px;*/
	/*height: 100vh;*/
	/*background: rgba(255,255,255,0.95);*/
	/*z-index: 10;*/
	/*-webkit-transition: all 300ms ease;*/
	/*-moz-transition: all 300ms ease;*/
	/*-ms-transition: all 300ms ease;*/
	/*-o-transition: all 300ms ease;*/
	/*transition: all 300ms ease;*/
/*}*/
/*.hamburger_menu.active*/
/*{*/
	/*right: 0;*/
/*}*/
/*.fs_menu_overlay*/
/*{*/
	/*position: fixed;*/
	/*top: 0;*/
	/*left: 0;*/
	/*width: 100vw;*/
	/*height: 100vh;*/
	/*z-index: 9;*/
	/*background: rgba(255,255,255,0);*/
	/*pointer-events: none;*/
	/*-webkit-transition: all 200ms ease;*/
	/*-moz-transition: all 200ms ease;*/
	/*-ms-transition: all 200ms ease;*/
	/*-o-transition: all 200ms ease;*/
	/*transition: all 200ms ease;*/
/*}*/
/*.hamburger_close*/
/*{*/
	/*position: absolute;*/
	/*top: 26px;*/
	/*right: 10px;*/
	/*padding: 10px;*/
	/*z-index: 1;*/
/*}*/
/*.hamburger_close i*/
/*{*/
	/*font-size: 24px;*/
	/*color: #1e1e27;*/
	/*-webkit-transition: all 300ms ease;*/
	/*-moz-transition: all 300ms ease;*/
	/*-ms-transition: all 300ms ease;*/
	/*-o-transition: all 300ms ease;*/
	/*transition: all 300ms ease;*/
/*}*/
/*.hamburger_close:hover i*/
/*{*/
	/*color: #b5aec4;*/
/*}*/
/*.hamburger_menu_content*/
/*{*/
	/*padding-top: 100px;*/
	/*width: 100%;*/
	/*height: 100%;*/
	/*padding-right: 20px;*/
/*}*/
/*.menu_item*/
/*{*/
	/*display: block;*/
	/*position: relative;*/
	/*border-bottom: solid 1px #b5aec4;*/
	/*vertical-align: middle;*/
/*}*/
/*.menu_item > a*/
/*{*/
	/*display: block;*/
	/*color: #1e1e27;*/
	/*font-weight: 500;*/
	/*height: 50px;*/
	/*line-height: 50px;*/
	/*font-size: 14px;*/
	/*text-transform: uppercase;*/
/*}*/
/*.menu_item > a:hover*/
/*{*/
	/*color: #b5aec4;*/
/*}*/
/*.menu_item > a > i*/
/*{*/
	/*margin-left: 8px;*/
/*}*/
/*.menu_item.active .menu_selection*/
/*{*/
	/*display: block;*/
	/*visibility: visible;*/
	/*opacity: 1;*/
/*}*/
/*.menu_selection*/
/*{*/
	/*margin: 0;*/
	/*width: 100%;*/
	/*max-height: 0;*/
	/*overflow: hidden;*/
	/*z-index: 1;*/
	/*-webkit-transition: all 0.3s ease;*/
	/*-moz-transition: all 0.3s ease;*/
	/*-ms-transition: all 0.3s ease;*/
	/*-o-transition: all 0.3s ease;*/
	/*transition: all 0.3s ease;*/
/*}*/
/*.menu_selection li*/
/*{*/
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
	/*line-height: 50px;*/
/*}*/
/*.menu_selection li a*/
/*{*/
	/*display: block;*/
	/*color: #232530;*/
	/*border-bottom: solid 1px #dddddd;*/
	/*font-size: 13px;*/
	/*text-transform: uppercase;*/
	/*-webkit-transition: opacity 0.3s ease;*/
	/*-moz-transition: opacity 0.3s ease;*/
	/*-ms-transition: opacity 0.3s ease;*/
	/*-o-transition: opacity 0.3s ease;*/
	/*transition: all 0.3s ease;*/
/*}*/
/*.menu_selection li a i*/
/*{*/
	/*margin-right: 5px;*/
/*}*/
/*.menu_selection li a:hover*/
/*{*/
	/*color: #b5aec4;*/
/*}*/
/*.menu_selection li:last-child a*/
/*{*/
	/*border-bottom: none;*/
/*}*/

/*!**********************************/
/*3.6 Logo*/
/**********************************!*/

/*.logo_container*/
/*{*/
	/*position: absolute;*/
	/*top: 50%;*/
	/*-webkit-transform: translateY(-50%);*/
	/*-moz-transform: translateY(-50%);*/
	/*-ms-transform: translateY(-50%);*/
	/*-o-transform: translateY(-50%);*/
	/*transform: translateY(-50%);*/
	/*left: 15px;*/
/*}*/
/*.logo_container a*/
/*{*/
	/*font-size: 24px;*/
	/*color: #1e1e27;*/
	/*font-weight: 700;*/
	/*text-transform: uppercase;*/
/*}*/
/*.logo_container a span*/
/*{*/
	/*color: #fe4c50;*/
/*}*/
/*.red_button*/
/*{*/
	/*display: -webkit-inline-box;*/
	/*display: -moz-inline-box;*/
	/*display: -ms-inline-flexbox;*/
	/*display: -webkit-inline-flex;*/
	/*display: inline-flex;*/
	/*flex-direction: column;*/
	/*justify-content: center;*/
	/*align-items: center;*/
	/*width: auto;*/
	/*height: 40px;*/
	/*background: #fe4c50;*/
	/*border-radius: 3px;*/
	/*-webkit-transition: all 0.3s ease;*/
	/*-moz-transition: all 0.3s ease;*/
	/*-ms-transition: all 0.3s ease;*/
	/*-o-transition: all 0.3s ease;*/
	/*transition: all 0.3s ease;*/
/*}*/
/*.red_button:hover*/
/*{*/
	/*background: #FE7C7F !important;*/
/*}*/
/*.red_button a*/
/*{*/
	/*display: block;*/
	/*color: #FFFFFF;*/
	/*text-transform: uppercase;*/
	/*font-size: 12px;*/
	/*font-weight: 500;*/
	/*text-align: center;*/
	/*line-height: 40px;*/
	/*width: 100%;*/
/*}*/
/*.shop_now_button*/
/*{*/
	/*width: 140px;*/
	/*margin-top: 32px;*/
/*}*/
/*.section_title*/
/*{*/
	/*display: inline-block;*/
	/*text-align: center;*/
/*}*/
/*.section_title h2*/
/*{*/
	/*display: inline-block;*/
/*}*/
/*.section_title::after*/
/*{*/
	/*display: block;*/
	/*position: absolute;*/
	/*top: calc(100% + 13px);*/
	/*left: 50%;*/
	/*-webkit-transform: translateX(-50%);*/
	/*-moz-transform: translateX(-50%);*/
	/*-ms-transform: translateX(-50%);*/
	/*-o-transform: translateX(-50%);*/
	/*transform: translateX(-50%);*/
	/*width: 60px;*/
	/*height: 5px;*/
	/*background: #fe4c50;*/
	/*content: '';*/
/*}*/
/*.product_details_title p*/
/*{*/
	/*color: #;*/
/*}*/

/*!**********************************/
/*4. Breadcrumbs*/
/**********************************!*/

/*.breadcrumbs*/
/*{*/
	/*width: 100%;*/
	/*height: 60px;*/
	/*border-bottom: solid 1px #ebebeb;*/
	/*margin-bottom: 79px;*/
/*}*/
/*.breadcrumbs ul li*/
/*{*/
	/*display: inline-block;*/
	/*margin-right: 17px;*/
/*}*/
/*.breadcrumbs ul li.active a*/
/*{*/
	/*color: #b9b4c7;*/
/*}*/
/*.breadcrumbs ul li i*/
/*{*/
	/*margin-right: 17px;*/
/*}*/
/*.breadcrumbs ul li a*/
/*{*/
	/*color: #51545f;*/
/*}*/

/*********************************
5. Google Map
*********************************/

.contact_container
{
	margin-top: 150px;
	padding-bottom: 80px;
	border-bottom: solid 1px #ebebeb;
}
#google_map
{
	width: 100%;
	height: 507px;
	margin-bottom: 59px;
}
.map_container
{
	width: 100%;
	height: 100%;
	overflow: hidden;
	box-shadow: 0px 27px 59px rgba(0, 0, 0, 0.15);
}
#map
{
	width: 100%;
	height: calc(100% + 30px);
}

/*********************************
6. Contact Us
*********************************/

.contact_contents
{
	padding-right: 30px;
}
.contact_contents h1,
{
	font-size: 40px;
	font-weight: 500;
}
.contact_contents p,
{
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 0px;
}
.contact_contents div
{
	margin-top: 22px;
}
.contact_contents div:first-of-type
{
	margin-top: 19px;
}

/*********************************
7. Follow Us
*********************************/

.follow_us_contents
{
	margin-top: 32px;
}
.social
{
	margin-top: 20px;
}
.social li
{
	margin-right: 12px;
}
.social li:last-child
{
	margin-right: 0px;
}
.social li a
{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 40px;
	height: 40px;
	border-radius: 50%;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.social li a i
{
	color: #FFFFFF;
}
.social li:hover a
{
	transform: translateY(-5px);
	box-shadow: 0px 10px 20px rgba(0,0,0,0.3);
}

/*********************************
8. Contact Form
*********************************/

.form_input
{
	display: block;
	width: 100%;
	height: 50px;
	border: solid 1px #e5e5e5;
	padding-left: 20px;
	font-size: 16px;
	margin-bottom: 20px;
}
.input_message
{
	width: 100%;
	margin-bottom: 15px;
	font-size: 16px;
	padding-bottom: 15px;
}
.form_input:focus,
#newsletter_email:focus
{
	border: solid 1px #7f7f7f !important;
	box-shadow: none !important;
}
.message_submit_btn
{
	background: #336688;
	color: #FFFFFF;
	text-transform: uppercase;
	width: 165px;
	border: none;
	height: 46px;
	cursor: pointer;
}
.message_submit_btn:hover
{
	background: #2b2b34 !important;
}
:focus
{
	outline: none !important;
}
.input_ph::-webkit-input-placeholder
{
	font-size: 16px !important;
	font-weight: 400;
	color: #b9b4c7 !important;
}
.input_ph:-moz-placeholder /* older Firefox*/
{
	font-size: 16px !important;
	font-weight: 400;
	color: #b9b4c7 !important;
}
.input_ph::-moz-placeholder /* Firefox 19+ */
{
	font-size: 16px !important;
	font-weight: 400;
	color: #b9b4c7 !important;
}
.input_ph:-ms-input-placeholder
{
	font-size: 16px !important;
	font-weight: 400;
	color: #b9b4c7 !important;
}
.input_ph::input-placeholder
{
	font-size: 16px !important;
	font-weight: 400;
	color: #b9b4c7 !important;
}
textarea
{
	border: solid 1px #e5e5e5;
	padding-left: 20px;
	padding-top: 15px;
}
textarea:hover
{
	border-color: #7f7f7f !important;
}
.input_name
{
	margin-bottom: 19px;
	margin-top: 31px;
}
.input_review
{
	display: block;
	width: 100%;
	border: solid 1px #e5e5e5;
	margin-top: 23px;
	padding-left: 20px;
	padding-top: 13px;
}
.user_star_rating
{
	display: inline-block;
	margin-left: 18px;
}
.user_star_rating li
{
	display: inline-block;
	margin-right: -3px;
	cursor: pointer;
}
.user_star_rating li i
{
	color: #f5c136;
	font-size: 18px;
}
.review_submit_btn
{
	width: 170px;
	border: none;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	cursor: pointer;
}

/*********************************
9. Newsletter
*********************************/

.newsletter
{
	width: 100%;
	background: #f2f2f2;
	margin-top: 81px;
}
.newsletter_text
{
	height: 120px;
}
.newsletter_text h4
{
	margin-bottom: 0px;
	line-height: 24px;
}
.newsletter_text p
{
	margin-bottom: 0px;
	line-height: 1.7;
	color: #51545f;
}
.newsletter_form
{
	height: 120px;
}
#newsletter_email
{
	width: 300px;
	height: 46px;
	background: #FFFFFF;
	border: none;
	font-size: 14px;
	padding-left: 20px;
}
::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400;
	color: #b9b4c7 !important;
}
:-moz-placeholder /* older Firefox*/
{
	font-size: 14px !important;
	font-weight: 400;
	color: #b9b4c7 !important;
}
::-moz-placeholder /* Firefox 19+ */
{
	font-size: 14px !important;
	font-weight: 400;
	color: #b9b4c7 !important;
}
:-ms-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400;
	color: #b9b4c7 !important;
}
.input-placeholder
{
	font-size: 14px !important;
	font-weight: 400;
	color: #b9b4c7 !important;
}

.newsletter_submit_btn
{
	width: 160px;
	height: 46px;
	border: none;
	background: #fe4c50;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
}
.newsletter_submit_btn:hover
{
	background: #FE7C7F;
}

