@charset "utf-8";
/* CSS Document */

/******************************

COLOR PALETTE




[Table of Contents]

1. Fonts
2. Body and some general stuff
3. Home
	3.1 Currency
	3.2 Language
	3.3 Account
	3.4 Main Navigation
	3.5 Hamburger Menu
	3.6 Logo
	3.7 Main Slider
4. Banner
5. New Arrivals
	5.1 New Arrivals Sorting
	5.2 New Arrivals Products Grid
6. Deal of the week
7. Best Sellers
	7.1 Slider Nav
8. Benefit
9. Blogs
10. Newsletter
11. Footer



******************************/

/***********
1. Fonts
***********/


@font-face {
  font-family: DINPro;
  src: url('../fonts/din-pro-cond-cufonfonts/DINPro-Cond.otf');
}

@font-face {
  font-family: DINPro-Bold;
  src: url('../fonts/din-pro-cond-cufonfonts/DINPro-CondBold.otf');
}
/*********************************
2. Body and some general stuff
*********************************/

*
{
	margin: 0;
	padding: 0;
}
body
{
	font-family: 'DINPro', sans-serif;
	font-size: 14px;
	line-height: 23px;
	font-weight: 400;
	background: #FFFFFF;
}
div
{
	display: block;
	position: relative;
	-webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
ul
{
	list-style: none;
	margin-bottom: 0px;
}
p
{
	font-family: 'DINPro', sans-serif;
	font-size: 16px;
	line-height: 1.7;
	font-weight: 500;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a
{
	display: inline;
	position: relative;
	color: inherit;
	border-bottom: solid 2px #fde0db;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
a, a:hover, a:visited, a:active, a:link
{
	text-decoration: none;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
p a:active
{
	position: relative;
	color: #e95f1f;
}
p a:hover
{
	color: #e95f1f;
	background: #fde0db;
}
p a:hover::after
{
	opacity: 0.2;
}
::selection
{
	background: #fde0db;
	color: #e95f1f;
}
p::selection
{
	background: #fde0db;
}
h1{font-size: 74px;}
h2{font-size: 50px;}
h3{font-size: 30px;}
h4{font-size: 24px;}
h5{font-size: 16px;}
h6{font-size: 14px;}
h1, h2, h3, h4, h5, h6
{
	color: #282828;
	-webkit-font-smoothing: antialiased;
	-webkit-text-shadow: rgba(0,0,0,.01) 0 0 1px;
	text-shadow: rgba(0,0,0,.01) 0 0 1px;
}
h1::selection,
h2::selection,
h3::selection,
h4::selection,
h5::selection,
h6::selection


.p-t-10{
	padding-top: 10px;
}
.p-t-20{
	padding-top: 20px;
}
.p-t-30{
	padding-top: 30px;
}
.p-t-40{
	padding-top: 40px;
}
.p-t-60{
	padding-top: 60px;
}
.m-t-20{
	margin-top: 20px;
}
.m-t-30{
	margin-top: 30px;
}
.m-t-40{
	margin-top: 40px;
}
.m-t-50{
	margin-top: 50px;
}
.m-t-60{
	margin-top: 60px;
}
.m-t-70{
	margin-top: 70px;
}
.m-t-100{
	margin-top: 100px;
}
.m-t-120{
	margin-top: 120px;
}
.m-t-180{
	margin-top: 180px;
}

.m-b-30{
	margin-bottom: 30px;
}

.m-b-60{
	margin-bottom: 60px;
}


.cl0{
	color: #FFFFFF
}
.cl1{
	color: #336688
}

.cl2{
	color: #707070
}

.cl3{
	color: #e95f1f
}

.bg0 {
    background-color: #fff;
}

.d-i-b{
	display: inline-block;
}

.d-i{
	display: inline;
}


.bold{
	font-family: 'DINPro-Bold', sans-serif;
}


::-webkit-input-placeholder
{
	font-size: 20px !important;
	font-weight: 500;
	color: #FFFFFF !important;
}

.form-control
{
	color: #db5246;
}
section
{
	display: block;
	position: relative;
	box-sizing: border-box;
}
.clear
{
	clear: both;
}
.clearfix::before, .clearfix::after
{
	content: "";
	display: table;
}
.clearfix::after
{
	clear: both;
}
.clearfix
{
	zoom: 1;
}
.float_left
{
	float: left;
}
.float_right
{
	float: right;
}
.trans_200
{
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.trans_300
{
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.trans_400
{
	-webkit-transition: all 400ms ease;
	-moz-transition: all 400ms ease;
	-ms-transition: all 400ms ease;
	-o-transition: all 400ms ease;
	transition: all 400ms ease;
}
.trans_500
{
	-webkit-transition: all 500ms ease;
	-moz-transition: all 500ms ease;
	-ms-transition: all 500ms ease;
	-o-transition: all 500ms ease;
	transition: all 500ms ease;
}
.fill_height
{
	height: 100%;
}
.super_container
{
	padding-top: 100px;
	width: 100%;
	overflow: hidden;
}

.super_container_base_2
{
	width: 100%;
	overflow: hidden;
}

/*********************************
3. Home
*********************************/

.header
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	/*background: #FFFFFF;*/
	z-index: 10;
}





/*********************************
3.4 Main Navigation
*********************************/

.main_nav_container
{
	width: 100%;
	background: #FFFFFF;
	/* box-shadow: 0 0 16px rgba(0, 0, 0, 0.15); */
}
.navbar
{
	width: auto;
	height: 100px;
    float: right;
	/*padding-left: 250px;*/
	padding-right: 0px;
	padding-left: 0px;
}
.navbar_menu li
{
	display: inline-block;
	max-height: 80px;
}
.navbar_menu li a
{
	display: inherit;
	color: #1e1e27;
	font-size: 15px;
	font-weight: 500;
	/* text-transform: uppercase; */
	/* margin-right: 10px; */
	margin: 10px 20px 10px 20px;
    padding: 0px 20px;


	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.navbar_menu li a:hover
{
	color: #b5aec4;
}

.circle1 {
	display: block;
    position: absolute;
    border-radius: 50%;
    /* text-transform: uppercase; */
    top: 60px;
    /* left: 45px; */
    height: 25px;
    width: 25px;
    background-color: #e95f1f;
}

.circle2 {
	display: block;
    position: relative;
    border-radius: 50%;
    /* text-transform: uppercase; */
    top: -10px;
    left: 115px;
    height: 13px;
    width: 13px;
    background-color: #e95f1f;
}

.circle3 {
	display: block;
	position: relative;
	border-radius: 50%;
	/* text-transform: uppercase; */
	top: -98px;
	left: 90px;
	height: 30px;
	width: 30px;
	background-color: #e95f1f;
}


.navbar_menu .current{
	color:white;
	background-color: #e95f1f;
	border-radius: 20px;
	padding: 10px 20px 10px 20px;
}



/*********************************
3.5 Hamburger Menu
*********************************/

.hamburger_container
{
	display: none;
	margin-left: 40px;
	position: absolute;
	right: 0px;

}
.hamburger_container i
{
	font-size: 24px;
	color: #1e1e27;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.hamburger_container:hover i
{
	color: #b5aec4;
}
.hamburger_menu
{
	position: fixed;
	top: 0;
	right: -400px;
	width: 400px;
	height: 100vh;
	background: rgba(255,255,255,0.95);
	z-index: 10;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.hamburger_menu.active
{
	right: 0;
}
.fs_menu_overlay
{
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 9;
	background: rgba(255,255,255,0);
	pointer-events: none;
	-webkit-transition: all 200ms ease;
	-moz-transition: all 200ms ease;
	-ms-transition: all 200ms ease;
	-o-transition: all 200ms ease;
	transition: all 200ms ease;
}
.hamburger_close
{
	position: absolute;
	top: 26px;
	right: 10px;
	padding: 10px;
	z-index: 1;
}
.hamburger_close i
{
	font-size: 24px;
	color: #1e1e27;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.hamburger_close:hover i
{
	color: #b5aec4;
}
.hamburger_menu_content
{
	padding-top: 100px;
	width: 100%;
	height: 100%;
	padding-right: 20px;
}
.menu_item
{
	display: block;
	position: relative;
	border-bottom: solid 1px #b5aec4;
	vertical-align: middle;
}
.menu_item > a
{
	display: block;
	color: #1e1e27;
	font-weight: 500;
	height: 50px;
	line-height: 50px;
	font-size: 14px;
	text-transform: uppercase;
}
.menu_item > a:hover
{
	color: #b5aec4;
}
.menu_item > a > i
{
	margin-left: 8px;
}
.menu_item.active .menu_selection
{
	display: block;
	visibility: visible;
	opacity: 1;
}
.menu_selection
{
	margin: 0;
	width: 100%;
	max-height: 0;
	overflow: hidden;
	z-index: 1;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.menu_selection li
{
	padding-left: 10px;
	padding-right: 10px;
	line-height: 50px;
}
.menu_selection li a
{
	display: block;
	color: #232530;
	border-bottom: solid 1px #dddddd;
	font-size: 13px;
	text-transform: uppercase;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.menu_selection li a:hover
{
	color: #b5aec4;
}
.menu_selection li:last-child a
{
	border-bottom: none;
}

/*********************************
3.6 Logo
*********************************/

.logo_container
{
	position: absolute;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	left: 15px;
}


/*********************************
3.7 Main Slider
*********************************/

.main_slider
{
	width: 100%;
	height: 700px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	margin-top: 150px;
}



.main_slider_content h6
{
	font-weight: 500;
	text-transform: uppercase;
	margin-bottom: 29px;
}
.main_slider_content h2
{
	text-align: center;
	font-weight: 400;
	line-height: 1;
	text-color: #fff;
}

.slider_button{
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	display: block;
	color: #FFFFFF;
	text-align: center;
	padding: 20px;
	height: 40px;


}

.slider_button a
{
	color: #FFFFFF;
	font-size: 16px;
	font-weight: 500;
	text-align: center;
	line-height: 40px;
	width: 100%;
	border-radius: 20px;
	border: 1px solid #fff;
	padding: 10px 40px 10px 40px;
}

.slider_button a:hover
{
	color: #e95f1f !important;
	border: 1px solid #e95f1f;

}


.red_button
{
	display: -webkit-inline-box;
	display: -moz-inline-box;
	display: -ms-inline-flexbox;
	display: -webkit-inline-flex;
	display: inline-flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: auto;
	height: 40px;
	background: #e95f1f;
	border-radius: 3px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.red_button:hover
{
	background: rgba(243, 95, 31, 0.77); !important;
}
.red_button a
{
	display: block;
	color: #FFFFFF;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 500;
	text-align: center;
	line-height: 40px;
	width: 100%;
}
.shop_now_button
{
	width: 140px;
	margin-top: 32px;
}

/*********************************
4. Banner
*********************************/

/*.banner*/
/*{*/
	/*width: 100%;*/
	/*margin-top: 30px;*/
/*}*/
/*.banner_item*/
/*{*/
	/*display: -webkit-box;*/
	/*display: -moz-box;*/
	/*display: -ms-flexbox;*/
	/*display: -webkit-flex;*/
	/*display: flex;*/
	/*flex-direction: column;*/
	/*justify-content: center;*/
	/*align-items: center;*/
	/*height: 265px;*/
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
	/*background-position: center center;*/
/*}*/
/*.banner_category*/
/*{*/
	/*height: 50px;*/
	/*background: #FFFFFF;*/
	/*min-width: 180px;*/
	/*padding-left: 25px;*/
	/*padding-right: 25px;*/
/*}*/
/*.banner_category a*/
/*{*/
	/*display: block;*/
	/*color: #1e1e27;*/
	/*text-transform: uppercase;*/
	/*font-size: 22px;*/
	/*font-weight: 600;*/
	/*text-align: center;*/
	/*line-height: 50px;*/
	/*width: 100%;*/
	/*-webkit-transition: color 0.3s ease;*/
	/*-moz-transition: color 0.3s ease;*/
	/*-ms-transition: color 0.3s ease;*/
	/*-o-transition: color 0.3s ease;*/
	/*transition: color 0.3s ease;*/
/*}*/
/*.banner_category a:hover*/
/*{*/
	/*color: #b5aec4;*/
/*}*/

/*!**********************************/
/*5. New Arrivals*/
/**********************************!*/

/*.new_arrivals*/
/*{*/
	/*width: 100%;*/
/*}*/
/*.new_arrivals_title*/
/*{*/
	/*margin-top: 74px;*/
/*}*/

/*!**********************************/
/*5.1 New Arrivals Sorting*/
/**********************************!*/

.new_arrivals_sorting
{
	display: inline-block;
	border-radius: 3px;
	margin-top: 59px;
	overflow: visible;
}
.grid_sorting_button
{
	    height: 40px;
    /* min-width: 102px; */
    /* padding-left: 25px; */
    /* padding-right: 25px; */
    padding: 60px;
    cursor: pointer;
    border: solid 3px #ebebeb;
    font-size: 80px;
	color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    /* background: #FFFFFF; */
    border-radius: 5px;
    margin: 0;
    float: left;
    margin-left: -1px;
}


.grid_sorting_button:first-child
{
	margin-left: 0px;
}
.grid_sorting_button:last-child
{

}
.grid_sorting_button.active:hover
{
	background: #FE7C7F !important;
}
.grid_sorting_button.active
{
	color: #FFFFFF;
	background: #fe4c50;
}


.grid_sorting_button2
{
	/*height: 40px;*/
    /* min-width: 102px; */
    /* padding-left: 25px; */
    /* padding-right: 25px; */
    padding: 40px;
    cursor: pointer;
    /*border: solid 3px #ebebeb;*/
    font-size: 30px;
	/*color: #fff;*/
    font-weight: 500;
    text-transform: uppercase;
    /* background: #FFFFFF; */
    border-radius: 5px;
    margin: 0;
    float: left;
    margin-left: -1px;
}

.grid_sorting_button2:first-child
{
	margin-left: 0px;
}
.grid_sorting_button2:last-child
{

}
.grid_sorting_button2.active:hover
{
	background: #fafafa !important;
}
.grid_sorting_button2.active
{
	color: #FFFFFF;
	background: #FFFFFF;
	border-radius: 15px;
	/*border-color: #dc3545;*/
	border: solid 3px #e95f1f;

}


/*********************************
5.2 Year Grid
*********************************/

.year-grid
{
	width: 100%;
	margin-top: 57px;
}
.year-item
{
	width: 50%;
	/*padding-left: 10px;*/
	height: 450px;
	cursor: pointer;
	display: inline-grid;
}
.year-item::after
{
	display: block;
	position: absolute;
	top: 0;
	left: -1px;
	width: calc(100% + 1px);
	height: 100%;
	pointer-events: none;
	content: '';
	border: solid 2px rgba(235,235,235,0);
	border-radius: 15px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.year-item:hover::after
{
	box-shadow: 0 25px 29px rgba(63, 78, 100, 0.15);
	border: solid 2px rgba(235,235,235,1);
	border-radius: 15px;
}


/*********************************
5.2 New Arrivals Products Grid
*********************************/

.product-grid
{
	width: 100%;
	margin-top: 57px;
}
.product-item
{
	width: 24.3%;
	/*padding-left: 10px;*/
	height: 380px;
	cursor: pointer;
	display: inline-grid;
}
.product-item::after
{
	display: block;
	position: absolute;
	top: 0;
	left: -1px;
	width: calc(100% + 1px);
	height: 100%;
	pointer-events: none;
	content: '';
	border: solid 2px rgba(235,235,235,0);
	border-radius: 3px;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.product-item:hover::after
{
	box-shadow: 0 25px 29px rgba(63, 78, 100, 0.15);
	border: solid 2px rgba(235,235,235,1);
}
.product
{
	width: 100%;
	height: 340px;
	/*border-right: solid 1px #e9e9e9;*/
}
.product_image
{
	width: 100%;
}
.product_image img
{
	width: 100%;
}
.product_info
{
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}
.product_name
{
	margin-top: 20px;
}
.product_name a
{
	color: #1e1e27;
	line-height: 20px;
}
.product_name:hover a
{
	color: #b5aec4;
}
.discount .product_info .product_price
{
	font-size: 14px;
}
.product_price
{
	font-size: 16px;
	color: #fe4c50;
	font-weight: 600;
}
.product_price span
{
	font-size: 12px;
	margin-left: 10px;
	color: #b5aec4;
	text-decoration: line-through;
}
.product_bubble
{
	position: absolute;
	top: 15px;
	width: 50px;
	height: 22px;
	border-radius: 3px;
	text-transform: uppercase;
}
.product_bubble span
{
	font-size: 12px;
	font-weight: 600;
	color: #FFFFFF;
}
.product_bubble_right::after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: 6px;
	right: auto;
	top: auto;
	bottom: -6px;
	border: 6px solid;
}
.product_bubble_left::after
{
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	left: auto;
	right: 6px;
	bottom: -6px;
	border: 6px solid;
}
.product_bubble_red::after
{
	border-color: transparent transparent transparent rgba(249, 91, 31, 0.74);;
}
.product_bubble_left::after
{
	border-color: #51a042 #51a042 transparent transparent;
}
.product_bubble_red
{
	background: #e95f1f;;
}
.product_bubble_green
{
	background: #51a042;
}
.product_bubble_left
{
	left: 15px;
}
.product_bubble_right
{
	right: 15px;
}
.add_to_cart_button
{
	width: 100%;
	visibility: hidden;
	opacity: 0;
	-webkit-transition: all 0.3s ease;
	-moz-transition: all 0.3s ease;
	-ms-transition: all 0.3s ease;
	-o-transition: all 0.3s ease;
	transition: all 0.3s ease;
}
.add_to_cart_button a
{
	font-size: 12px;
	font-weight: 600;
}
.product-item:hover .add_to_cart_button
{
	visibility: visible;
	opacity: 1;
}
.favorite
{
	position: absolute;
	top: 15px;
	right: 15px;
	color: #b9b4c7;
	width: 17px;
	height: 17px;
	visibility: hidden;
	opacity: 0;
}
.favorite_left
{
	left: 15px;
}
.favorite.active
{
	visibility: visible;
	opacity: 1;
}
.product-item:hover .favorite
{
	visibility: visible;
	opacity: 1;
}
/*.favorite.active::after*/
/*{*/
	/*font-family: 'FontAwesome';*/
	/*content:'\f004';*/
	/*color: #fe4c50;*/
/*}*/
/*.favorite::after*/
/*{*/
	/*font-family: 'FontAwesome';*/
	/*content:'\f08a';*/
/*}*/
/*.favorite:hover::after*/
/*{*/
	/*color: #fe4c50;*/
/*}*/

/*!**********************************/
/*6. Deal of the week*/
/**********************************!*/

/*.deal_ofthe_week*/
/*{*/
	/*width: 100%;*/
	/*margin-top: 41px;*/
	/*background: #f2f2f2;*/
/*}*/
/*.deal_ofthe_week_img*/
/*{*/
	/*height: 540px;*/
/*}*/
/*.deal_ofthe_week_img img*/
/*{*/
	/*height: 100%;*/
/*}*/
/*.deal_ofthe_week_content*/
/*{*/
	/*height: 100%;*/
/*}*/
/*.section_title*/
/*{*/
	/*display: inline-block;*/
	/*text-align: center;*/
/*}*/
/*.section_title h2*/
/*{*/
	/*display: inline-block;*/
/*}*/
/*.section_title::after*/
/*{*/
	/*display: block;*/
	/*position: absolute;*/
	/*top: calc(100% + 13px);*/
	/*left: 50%;*/
	/*-webkit-transform: translateX(-50%);*/
	/*-moz-transform: translateX(-50%);*/
	/*-ms-transform: translateX(-50%);*/
	/*-o-transform: translateX(-50%);*/
	/*transform: translateX(-50%);*/
	/*width: 60px;*/
	/*height: 5px;*/
	/*background: #fe4c50;*/
	/*content: '';*/
/*}*/
/*.timer*/
/*{*/
	/*margin-top: 66px;*/
/*}*/
/*.timer li*/
/*{*/
	/*display: inline-block;*/
	/*width: 120px;*/
	/*height: 120px;*/
	/*border-radius: 50%;*/
	/*background: #FFFFFF;*/
	/*margin-right: 10px;*/
/*}*/
/*.timer li:last-child*/
/*{*/
	/*margin-right: 0px;*/
/*}*/
/*.timer_num*/
/*{*/
	/*font-size: 48px;*/
	/*font-weight: 600;*/
	/*color: #fe4c50;*/
	/*margin-top: 10px;*/
/*}*/
/*.timer_unit*/
/*{*/
	/*margin-top: 12px;*/
	/*font-size: 16px;*/
	/*font-weight: 500;*/
	/*color: #51545f;*/
/*}*/
/*.deal_ofthe_week_button*/
/*{*/
	/*width: 140px;*/
	/*background: #1e1e27;*/
	/*margin-top: 52px;*/
/*}*/
/*.deal_ofthe_week_button:hover*/
/*{*/
	/*background: #2b2b34 !important;*/
/*}*/

/*!**********************************/
/*7. Best Sellers*/
/**********************************!*/

/*.product_slider_container*/
/*{*/
	/*width: 100%;*/
	/*height: 340px;*/
	/*margin-top: 73px;*/
/*}*/
/*.product_slider_container::after*/
/*{*/
	/*display: block;*/
	/*position: absolute;*/
	/*top: 0;*/
	/*right: 0;*/
	/*width: 1px;*/
	/*height: 100%;*/
	/*background: #FFFFFF;*/
	/*content: '';*/
	/*z-index: 1;*/
/*}*/
/*.product_slider*/
/*{*/
	/*overflow: visible !important;*/
/*}*/
/*.product_slider_item .product-item*/
/*{*/
	/*height: 340px;*/
/*}*/
/*.product_slider_item*/
/*{*/
	/*width: 20%;*/
/*}*/
/*.product_slider_item .product-item*/
/*{*/
	/*width: 100% !important;*/
/*}*/

/*!**********************************/
/*7.1 Slider Nav*/
/**********************************!*/

/*.product_slider_nav*/
/*{*/
	/*position: absolute;*/
	/*width: 30px;*/
	/*height: 70px;*/
	/*background: #d3d3d6;*/
	/*-webkit-transform: translateY(-50%);*/
	/*-moz-transform: translateY(-50%);*/
	/*-ms-transform: translateY(-50%);*/
	/*-o-transform: translateY(-50%);*/
	/*transform: translateY(-50%);*/
	/*z-index: 2;*/
	/*cursor: pointer;*/
	/*visibility: hidden;*/
	/*opacity: 0;*/
	/*-webkit-transition: all 300ms ease;*/
	/*-moz-transition: all 300ms ease;*/
	/*-ms-transition: all 300ms ease;*/
	/*-o-transition: all 300ms ease;*/
	/*transition: all 300ms ease;*/
/*}*/
/*.product_slider_container:hover .product_slider_nav*/
/*{*/
	/*visibility: visible;*/
	/*opacity: 1;*/
/*}*/
/*.product_slider_nav i*/
/*{*/
	/*color: #FFFFFF;*/
	/*font-size: 12px;*/
/*}*/
/*.product_slider_nav_left*/
/*{*/
	/*top: 50%;*/
	/*left: 0;*/
/*}*/
/*.product_slider_nav_right*/
/*{*/
	/*top: 50%;*/
	/*right: 0;*/
/*}*/

/*!**********************************/
/*8. Benefit*/
/**********************************!*/

/*.benefit*/
/*{*/
	/*margin-top: 74px;*/
/*}*/
/*.benefit_row*/
/*{*/
	/*padding-left: 15px;*/
	/*padding-right: 15px;*/
/*}*/
/*.benefit_col*/
/*{*/
	/*padding-left: 0px;*/
	/*padding-right: 0px;*/
/*}*/
/*.benefit_item*/
/*{*/
	/*height: 100px;*/
	/*background: #f3f3f3;*/
	/*border-right: solid 1px #FFFFFF;*/
	/*padding-left: 25px;*/
/*}*/
/*.benefit_col:last-child .benefit_item*/
/*{*/
	/*border-right: none;*/
/*}*/
/*.benefit_icon i*/
/*{*/
	/*font-size: 30px;*/
	/*color: #fe4c50;*/
/*}*/
/*.benefit_content*/
/*{*/
	/*padding-left: 22px;*/
/*}*/
/*.benefit_content h6*/
/*{*/
	/*text-transform: uppercase;*/
	/*line-height: 18px;*/
	/*font-weight: 500;*/
	/*margin-bottom: 0px;*/
/*}*/
/*.benefit_content p*/
/*{*/
	/*font-size: 12px;*/
	/*line-height: 18px;*/
	/*margin-bottom: 0px;*/
	/*color: #51545f;*/
/*}*/

/*!**********************************/
/*9. Blogs*/
/**********************************!*/

/*.blogs*/
/*{*/
	/*margin-top: 72px;*/
/*}*/
/*.blogs_container*/
/*{*/
	/*margin-top: 53px;*/
/*}*/
/*.blog_item*/
/*{*/
	/*height: 255px;*/
	/*width: 100%;*/
/*}*/
/*.blog_background*/
/*{*/
	/*position: absolute;*/
	/*top: 0;*/
	/*left: 0;*/
	/*width: 100%;*/
	/*height: 100%;*/
	/*background-repeat: no-repeat;*/
	/*background-size: cover;*/
	/*background-position: center center;*/
/*}*/
/*.blog_content*/
/*{*/
	/*position: absolute;*/
	/*top: 30px;*/
	/*left: 30px;*/
	/*width: calc(100% - 60px);*/
	/*height: calc(100% - 60px);*/
	/*background: rgba(255,255,255,0.9);*/
	/*padding-left: 10px;*/
	/*padding-right: 10px;*/
	/*visibility: hidden;*/
	/*opacity: 0;*/
	/*transform-origin: center center;*/
	/*-webkit-transform: scale(0.7);*/
	/*-moz-transform: scale(0.7);*/
	/*-ms-transform: scale(0.7);*/
	/*-o-transform: scale(0.7);*/
	/*transform: scale(0.7);*/
	/*-webkit-transition: all 300ms ease;*/
	/*-moz-transition: all 300ms ease;*/
	/*-ms-transition: all 300ms ease;*/
	/*-o-transition: all 300ms ease;*/
	/*transition: all 300ms ease;*/
/*}*/
/*.blog_item:hover .blog_content*/
/*{*/
	/*visibility: visible;*/
	/*opacity: 1;*/
	/*transform: scale(1);*/
/*}*/
/*.blog_title*/
/*{*/
	/*font-weight: 500;*/
	/*line-height: 1.25;*/
	/*margin-bottom: 0px;*/
/*}*/
/*.blog_meta*/
/*{*/
	/*font-size: 12px;*/
	/*line-height: 30px;*/
	/*font-weight: 400;*/
	/*text-transform: uppercase;*/
	/*color: #51545f;*/
	/*margin-bottom: 0px;*/
	/*margin-top: 3px;*/
	/*letter-spacing: 1px;*/
/*}*/
/*.blog_more*/
/*{*/
	/*font-size: 14px;*/
	/*line-height: 16px;*/
	/*font-weight: 500;*/
	/*color: #fe4c50;*/
	/*border-bottom: solid 1px #fe4c50;*/
	/*margin-top: 12px;*/
/*}*/
/*.blog_more:hover*/
/*{*/
	/*color: #FE7C7F;*/
/*}*/

/*********************************
10. Newsletter
*********************************/

.newsletter
{
	width: 100%;
	background: #f2f2f2;
	margin-top: 81px;
}
.newsletter_text
{
	height: 120px;
}
.newsletter_text h4
{
	margin-bottom: 0px;
	line-height: 24px;
}
.newsletter_text p
{
	margin-bottom: 0px;
	line-height: 1.7;
	color: #51545f;
}
.newsletter_form
{
	height: 120px;
}
#newsletter_email
{
	width: 300px;
	height: 46px;
	background: #FFFFFF;
	border: none;
	padding-left: 20px;
}
#newsletter_email:focus
{
	border: solid 1px #7f7f7f !important;
	box-shadow: none !important;
}
:focus
{
	outline: none !important;
}
#newsletter_email::-webkit-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400;
	color: #FFFFFF !important;
}
#newsletter_email:-moz-placeholder /* older Firefox*/
{
	font-size: 14px !important;
	font-weight: 400;
	color: #FFFFFF !important;
}
#newsletter_email::-moz-placeholder /* Firefox 19+ */
{
	font-size: 14px !important;
	font-weight: 400;
	color: #b9b4c7 !important;
}
#newsletter_email:-ms-input-placeholder
{
	font-size: 14px !important;
	font-weight: 400;
	color: #b9b4c7 !important;
}
#newsletter_email::input-placeholder
{
	font-size: 14px !important;
	font-weight: 400;
	color: #b9b4c7 !important;
}
.newsletter_submit_btn
{
	width: 160px;
	height: 46px;
	border: none;
	background: #fe4c50;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: 500;
	text-transform: uppercase;
	cursor: pointer;
}
.newsletter_submit_btn:hover
{
	background: #FE7C7F;
}

/*********************************
11. Footer
*********************************/

.footer_nav_container
{
	height: 130px;
}
.cr
{
	margin-right: 48px;
}
.footer_nav li
{
	display: inline-block;
	margin-right: 45px;
}
.footer_nav li:last-child
{
	margin-right: 0px;
}
.footer_nav li a, .cr
{
	font-size: 14px;
	color: #FFFFFF;
	line-height: 30px;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
}
.footer_nav li a:hover, .cr a, .cr i
{
	color: #e95f1f;
}
.footer_social
{
	height: 130px;
}
.footer_social ul li
{
	display: inline-block;
	margin-right: 10px;
}
.footer_social ul li:last-child
{
	margin-right: 0px;
}
.footer_social ul li a
{
	color: #FFFFFF;
	-webkit-transition: all 300ms ease;
	-moz-transition: all 300ms ease;
	-ms-transition: all 300ms ease;
	-o-transition: all 300ms ease;
	transition: all 300ms ease;
	padding: 10px;
}
.footer_social ul li:last-child a
{
	padding-right: 0px;
}
.footer_social ul li a:hover
{
	color: #e95f1f;
}


.shadow-nav{
	height: 70px;
  background-color: rgba(255,255,255,1);
	box-shadow: 0 0 16px rgba(0, 0, 0, 0.15);
}








/*********************************
6. Contact Us
*********************************/

.contact_contents
{
	padding-right: 30px;
}
.contact_contents h1
{
	font-size: 40px;
	font-weight: 500;
}
.contact_contents p
{
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 0px;
}
.contact_contents div
{
	margin-top: 22px;
}

.contact_menu li a
{

	display: block;
	display: inline-flex;
	color: #1e1e27;
	font-size: 18px;
	font-weight: 500;
	/* text-transform: uppercase; */
	-webkit-transition: color 0.3s ease;
	-moz-transition: color 0.3s ease;
	-ms-transition: color 0.3s ease;
	-o-transition: color 0.3s ease;
	transition: color 0.3s ease;
}
.contact_menu li a:hover
{
	color: #b5aec4;
}




.contactinfo_container
{
	padding-top: 30px;
}

.contactinfo_container a
{
	font-family: 'DINPro-Bold', sans-serif;
	font-size: 18px;
	color: #336688;
	font-weight: 600;
}
.contactinfo_container a span
{
	font-family: 'DINPro', sans-serif;
	font-size: 16px;
	font-weight: 500;
	color: #707070;
}


.contact_h3{
	font-size: 24px;
	color: #336688;
	font-weight: 600;
}

.contact_h1{
	font-family: 'DINPro-Bold', sans-serif;
	font-size: 50px;
	color: #336688;
	font-weight: 600;
	text-align: center;
}

.contact2_h1{
	font-family: 'DINPro-Bold', sans-serif;
	font-size: 74px;
	color: #DDDDDD;
	font-weight: 600;
	text-align: center;
}

.contact_h2{
	font-size: 20px;
	color: #707070;
	font-weight: 600;
	padding-top:40px;
	text-align: center;
}

.contact_image{
	max-width: 100%;
  	height: auto;
}


.about_image{
	max-width: 60%;
  	height: auto;
	border-radius: 50%;
	/*text-align: center;*/

}

.deals_image{
	width: 100%;
	max-height: 400px;
}

.deals_image_collection{
	width: 100%;
	height: auto;
	border-radius: 20px;
}


/*------------------------------------------------------------------
[ Logo ]*/
.logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  height: 65%;
  margin-right: 55px;
}

.logo img {
  max-width: 100px;
  max-height: 100px;
}

.navbardown
{
	width: 100%;
	/*height: 300px;*/
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center center;
	/*margin-top: 100px;*/
}


.franquicia{
	height: 700px;
	width: 100%;
	background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.franquicia_small {
	left: 50px;
	top: 20px;
	color: #ffffff;
	font-size: 18px;
}

.franquicia_big {
	color: #ffffff;
    margin-top: 40px;
    font-size: 120px;
}

.franquicia_form{
    display: inline;
	border: 1px solid #FFFFFF;
    border-radius: 50px;
	padding:12px 20px 12px 20px;
	/*margin-right: 30px;*/
	width: 250px;
	font-size: 18px;
	color: #FFFFFF;
	margin: 0 auto;
	margin-bottom: 30px;
}


.franquicia_button{
    display: inline;
	font-size: 18px;
	margin: 0 auto;
}


.franquicia_btn{
    display: inline;
	background: #e95f1f;
	border: 0px;
	border-radius: 50px;
	padding:12px 20px 12px 20px;
	width: 250px;
	font-size: 20px;

}
.franquicia_city {
	background: #275066;
	height: 800px;
}

.franquicia_benefit{
	padding-left: 150px;
}


.franquicia_h1{
	font-family: 'DINPro-Bold', sans-serif;
	font-size: 50px;
	color: #60CAEF!important;
	font-weight: 600;
	text-align: center;
}

.franquicia_container{
	padding: 20px 0px 0px 40px;
}
.franquicia_container a
{
	font-size: 24px;
	color: #60CAEF;
}
.franquicia_container a span
{
	font-size: 18px;
	color: #FFFFFF;

}


.collection_year{
	display: inline-block;
	padding: 40px;
	font-family: 'DINPro-Bold', sans-serif;
	font-size: 100px;
	color: #FFFFFF;
	border: 10px solid #FFFFFF;
}

.collection_container{
	height: 250px;
	width: 100%;

}


.collection_year:hover
{
	color: rgba(233, 95, 31, 0.82);
	border: 10px solid rgba(233, 95, 31, 0.82);

}

.show-modal1 {
  visibility: visible;
  opacity: 1;
}


/*//////////////////////////////////////////////////////////////////
[ Slick3 ]*/
.wrap-slick3 {
  position: relative;
}

/*---------------------------------------------*/
.wrap-slick3-arrows {
  position: absolute;
  z-index: 100;
  width: 83.333333%;
  right: 0;
  top: calc(50% - 20px);
}

.arrow-slick3 {
  font-size: 25px;
  color: #fff;

  position: absolute;
  top: 0;
  width: 40px;
  height: 40px;
  background-color: rgba(0,0,0,0.5);

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.arrow-slick3:hover {
  background-color: rgba(0,0,0,0.9);
}

.prev-slick3 {left: 0px;}
.next-slick3 {right: 0px;}

/*---------------------------------------------*/
.wrap-slick3-dots {
  width: 11.111111%;
}

.slick3 {
  width: 83.333333%;
}

.slick3-dots li {
  display: block;
  position: relative;
  width: 100%;
  margin-bottom: 27px;
}

.slick3-dots li img {
  width: 100%;
}

.slick3-dot-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: pointer;
  border: 2px solid transparent;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

.slick3-dot-overlay:hover {
  border-color: #ccc;
}

.slick3-dots .slick-active .slick3-dot-overlay {
  border-color: #ccc;
}

.slick3-dots li {
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 27px;
}


/*//////////////////////////////////////////////////////////////////
[ Modal1 ]*/
.wrap-modal1 {
  position: fixed;
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 9000;
  overflow: auto;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  visibility: hidden;
  opacity: 0;
}

.overlay-modal1 {
  position: fixed;
  z-index: -1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: #000;
  opacity: 0.8;
}

.show-modal1 {
  visibility: visible;
  opacity: 1;
}




.how-pos3-parent {
  position: relative;
}

.how-pos3 {
  position: absolute;
  top: -35px;
  right: 0px;
}




.detail_container{
	padding: 10px 0px 0px 0px;
}
.detail_container a
{
	font-family: DINPro-Bold;
	font-size: 18px;
	color: #336688;
}
.detail_container a span
{
	font-family: DINPro;
	font-size: 16px;
	color: black;;

}



.wrap {
  max-width: 44em;
  margin: 0 auto;
}

.dropdown-container {
	max-width: 18em;
	margin: 3em auto;
}

.dropdown-container  button {
    width:100%;
    border: none;
    background: #333;
    color: #fff;
    padding: 1em;
    text-transform: uppercase;
    font-weight:800;
  }

.dropdown-container  ul {
	list-style: none;
	padding: 0;
	margin: 0;
	text-align: center;
}
.dropdown-container   li {
  border-bottom: 1px solid #333;
}
.dropdown-container   a {
  display:block;
  padding: 1.2em .5em;
  background: #444;
  color: #fff;
  font-size: .9em;
  text-decoration: none;

}





.wrap {
 	margin: 30px auto;
	position: relative;
	min-width: 100%;
}

.wrap .accd-title {
  color: #333745;
  cursor: pointer;
  /*display: block;*/
  font-size: 1.25em;
  line-height: 1;
  padding: 1em;
	width: 200px;
	margin: auto;
}
.wrap .accd-wrap {
  padding: 1em;
}

.wrap .accd-wrap .accd-cont p{
  margin: 0;
}

.wrap input {
  display: none;
}

.wrap .accd-wrap {
  max-height: 70px;
  overflow: hidden;
  -webkit-transition: max-height 1s linear;
  -moz-transition: max-height 1s linear;
  -ms-transition: max-height 1s linear;
  -o-transition: max-height 1s linear;
  transition: max-height 1s linear;
}


.wrap .accd-title .less {
  display:none;
}

.wrap .accd-title .more {
  display:block;
}

/* For IE compatibility */
.wrap.checked .accd-wrap {
  max-height: 400px;
}

.wrap.checked .accd-title .less {
  display: block;
}

.wrap.checked .accd-title .more {
  display: none;
}

.wrap_button span
{
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 500;
	text-align: center;
	line-height: 40px;
	width: 100%;
	border-radius: 40px;
	border: 1px solid #fff;
	padding: 0px 40px 0px 40px;
}

.wrap_button span:hover
{
	color: #e95f1f !important;
	border: 1px solid #e95f1f;

}


.pages
{
	display: inline-block;
	float: right;
}
.product_sorting_container_bottom .pages
{
	float: left;
}
/*.page_current*/
/*{*/
	/*margin-right: 20px;*/
    /*margin-left: 20px;*/
/*}*/

.page_color
{
	font-size: 24px;
	color: #336688;
    padding-left: 20px;
    padding-right: 20px;
}

.page_color:hover
{
	color: #e95f1f;
}

.page_current span
{
	font-size: 24px;
    color: #e95f1f;
}
.product_sorting_container_bottom .pages .page_current span
{
	color: #e95f1f;
}
.page_selection
{
	display: block;
	position: absolute;
	right: 0;
	top: 120%;
	margin: 0;
	width: 100%;
	background: #FFFFFF;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	box-shadow: 0 15px 25px rgba(63, 78, 100, 0.15);
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.page_selection li
{
	display: block;
	text-align: center;
	padding-left: 10px;
	padding-right: 10px;
}
.page_selection li a
{
	display: block;
	height: 40px;
	line-height: 40px;
	border-bottom: solid 1px #dddddd;
	color: #51545f;
	-webkit-transition: opacity 0.3s ease;
	-moz-transition: opacity 0.3s ease;
	-ms-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: all 0.3s ease;
}
.page_selection li a:hover
{
	color: #336688;
}
.page_current:hover .page_selection
{
	visibility: visible;
	opacity: 1;
	top: calc(100% + 1px);
}
.page_total
{
	display: inline-block;
	line-height: 40px;
    /*border-left: 1px solid #e6e6e6;*/
}
.page_total span
{
	margin-right: 17px;
	margin-left: 17px;
}

.page_next
{

	display: inline-block;
    line-height: 40px;
    cursor: pointer;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -ms-transition: .2s ease-out;
    transition: .2s ease-out;
    display: block;
    width: 40px;
    height: 40px;
    /*border: 1px solid #d0d0d0;*/
    border-radius: 3px;
    padding-left: 13px;
    /*margin-left: 30px;*/
    /*margin-right: 30px;*/
}
.page_next:hover i
{
	color: #e95f1f;
}
.page_next:hover
{
	border: 1px solid #e95f1f;
}


.page_total:before a
{
	color: #e95f1f;
}


.page_next i
{
	font-size: 24px;
	color: #336688;
	margin-top: 8px;
}
.showing_results
{
	font-size: 18px;
	height: 40px;
	line-height: 40px;
	float: right;
	margin-right: 34px;
}





.diagonal {
	width: 30px;
	height: 100vh;
	background: red;
	transform: skew(-26.5deg, 0);
	position: relative;
	overflow: hidden;
	margin-left: 200px;
	transition: width .3s ease-in-out;
}
.diagonal:hover {
	width: 500px;
}
.undiagonal {
	transform: skew(26.5deg, 0);
	width: 500px;
	padding: 50px 80px;
}
.info{
	width: 14%;
	height: 10%;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	margin: auto;
	color: #aaa;
	text-align: center;
	text-transform: uppercase;
}



.img-example {
  background: #aa8cdd;

  display: flex;
  margin: 10px;
}
.img-example div {
  width: 30%;
  padding: 1em;

	-webkit-clip-path: polygon(20% 0, 0 100%, 100% 100%, 100% 0);

  clip-path: polygon(20% 0, 0 100%, 100% 100%, 100% 0);
	border: 10px solid #fff;
}
.img-example h2 {
  text-transform: uppercase;
}
.img-example img {
  width: 70%;
  -webkit-clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%);
}



.radio-inline__input {
    clip: rect(1px, 1px, 1px, 1px);
    position: absolute !important;
}

.radio-inline__label {
    display: inline-block;
    /*padding: 0.5rem 1rem;*/
    margin-right: 25px;
    border-radius: 3px;
    transition: all .2s;

	padding: 40px;
	font-family: 'DINPro-Bold', sans-serif;
	font-size: 80px;
	color: #FFFFFF;
	/*border: 5px solid #FFFFFF;*/
}

.radio-inline__input:checked + .radio-inline__label {
    background: #B54A4A;
    color: #fff;
    text-shadow: 0 0 1px rgba(0,0,0,.7);
}

.radio-inline__input:focus + .radio-inline__label {
    outline-color: #4D90FE;
    outline-offset: -2px;
    outline-style: auto;
    outline-width: 5px;
}








.containerr {
  align-items: center;
  background: #eeedef;
  clip-path: polygon(4% 0px, 100% 0%, 96% 100%, 0px 100%);
  display: flex;
  height: 100px;
  justify-content: center;
  position: relative;
  width: auto;
}
.barr {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}
.bar-inner {
  background: #9ad2f6;
  color: black;
  clip-path: polygon(100% 0, 100% 100%, 0% 100%, 4% 0);
  transition: clip-path 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.option {
  cursor: pointer;
  text-align: center;
  font-size: 20px;
  width: 25%;
}
.bar-outer {
  clip-path: polygon(0 0, 0 100%, 24% 100%, 28% 0);
  height: 100%;
  pointer-events: none;
  transition: clip-path 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100%;
}
.bar-outer.pos2 .bar-inner {
  clip-path: polygon(100% 0, 100% 100%, 24% 100%, 28% 0);
}
.bar-outer.pos2 {
  clip-path: polygon(0 0, 0 100%, 48% 100%, 52% 0);
}
.bar-outer.pos3 .bar-inner {
  clip-path: polygon(100% 0, 100% 100%, 48% 100%, 52% 0);
}
.bar-outer.pos3 {
  clip-path: polygon(0 0, 0 100%, 72% 100%, 76% 0);
}
.bar-outer.pos4 .bar-inner {
  clip-path: polygon(100% 0, 100% 100%, 72% 100%, 76% 0);
}
.bar-outer.pos4 {
  clip-path: polygon(0 0, 0 100%, 96% 100%, 100% 0);
}
.bar-outer.left .bar-inner {
  transition-delay: 0;
}
.bar-outer.left {
  transition-delay: 80ms;
}
.bar-outer.right .bar-inner {
  transition-delay: 80ms;
}
.bar-outer.right {
  transition-delay: 0;
}
.garment {
  position: relative;
  width: 100%;
}
.category {
  transform: translateY(-130%);
  position: relative;
}
.option:nth-child(1) .garment {
  left: 5%;
}
.option:nth-child(1) .category {
  left: 5%;
}
.option:nth-child(4) .garment {
  left: -5%;
}
.option:nth-child(4) .category {
  left: -5%;
}

