{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body >



{% block content %}



    <div class="container contact_container ">
    <div class=" row background context_info m-t-30  ">
        <div class="col-lg-12 m-b-30">
            <div class="contact2_h1">БРЕНДЫ</div>
            <div class="contact_h1">БРЕНДЫ</div>

        </div>

        <div class="col-lg-6 contact_col m-t-40">

          <div class="col-sm-12" style="background-color: #c2ced6; height: 500px" >
{#            <img class="contact_image" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">#}
          </div>
            <h4 class="p-t-30 cl1">Tiflani</h4>
            <p class="p-t-20">KULT ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        </div>

        <div class="col-lg-6  m-t-40">
         <div class="col-sm-12" style="background-color: #c2ced6; height: 500px" >
{#            <img class="contact_image" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">#}
          </div>
            <h4 class="p-t-30 cl1">Tico</h4>
            <p class="p-t-20">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        </div>

    </div>
    </div>

    <div class="main_slider" style="background-image:url({% static 'images/background1.png' %})">
		<div class="container fill_height">
			<div class="row align-items-center fill_height">
				<div class="col">
					<div class="main_slider_content">
                        <div class="contact2_h1" style="color:#FFFFFF; opacity: .35;" >ПРОИЗВОДИТЕЛЬ</div>
                        <div class="contact_h1" style="color:#FFFFFF">ПРОИЗВОДИТЕЛЬ</div>
                        <p class="p-t-40" style="color: #FFFFFF">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <div class="wrap">
                          <input type="checkbox" id="accd2" name="accd2">
                          <div class="accd-wrap">
                            <div class="">
                              <p class="cl0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum laudantium voluptatum voluptatem molestias cum praesentium illo vitae mollitia, necessitatibus amet, maiores sapiente illum delectus quae tenetur, ipsam quia nam suscipit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum laudantium voluptatum voluptatem molestias cum praesentium illo vitae mollitia, necessitatibus amet, maiores sapiente illum delectus quae tenetur, ipsam quia nam suscipit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum laudantium voluptatum voluptatem molestias cum praesentium illo vitae mollitia, necessitatibus amet, maiores sapiente illum delectus quae tenetur, ipsam quia nam suscipit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum laudantium voluptatum voluptatem molestias cum praesentium illo vitae mollitia, necessitatibus amet, maiores sapiente illum delectus quae tenetur, ipsam quia nam suscipit. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum laudantium voluptatum voluptatem molestias cum praesentium illo vitae mollitia, necessitatibus amet, maiores sapiente illum delectus quae tenetur, ipsam quia nam suscipit. </p>
                                <p class="cl0">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum laudantium voluptatum voluptatem molestias cum praesentium illo vitae mollitia, necessitatibus amet, maiores sapiente </p>
                            </div>
                          </div>
                            <div class="text-center">
                                <label for="accd2" class="accd-title wrap_button text-center"><span class="less">Меньше</span><span class="more">Подробнее</span></label>

                            </div>

                        </div>


					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="container contact_container">
     <div class=" row background context_info m-t-180">
        <div class="col-lg-12 m-b-30">
            <div class="contact2_h1">ПРЕИМУЩЕСТВА</div>
            <div class="contact_h1">ПРЕИМУЩЕСТВА</div>
        </div>


        <div class="col-md-4 m-t-40">

          <div class="col-sm-12 text-center" >
            <img class="about_image" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
          </div>
            <div class="col-sm-12 text-center p-t-20" >
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>

        <div class="col-md-4 m-t-40">
          <div class="col-sm-12 text-center" >
            <img class="about_image" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
          </div>
            <div class="col-sm-12 text-center p-t-20" >
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>

		</div>

        <div class="col-md-4 m-t-40">
          <div class="col-sm-12 text-center" >
            <img class="about_image" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
          </div>
            <div class="col-sm-12 text-center p-t-20" >
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
		</div>

         <div class="col-md-4 m-t-40">

          <div class="col-sm-12 text-center" >
            <img class="about_image" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
          </div>
            <div class="col-sm-12 text-center p-t-20" >
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>



     </div>
    </div>


<div class="m-t-100"></div>





{% endblock %}


</body>
</html>
