{% extends "base.html" %}
{% load static %}

{% load thumbnail %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body class="">



{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/single_styles.css' %}">
{#<link rel="stylesheet" type="text/css" href="{% static 'css/single_responsive.css' %}">#}
{#<link rel="stylesheet" type="text/css" href="{% static 'css/categories_responsive.css' %}">#}


<div class="container contact_container">


{#    <div class="container collection_container " style="background-image:url({% static 'images/background1.png' %})">#}
{#        <div class="row text-center" style="height: 100%">#}
{#            {% for year in years %}#}
{#            <div class="col-lg-3 col-md-6 col-sm-6 d-i-b collection_year_text" style="margin: auto;">#}
{#               <a href="/"> <div class="collection_year">{{ year.year }} </div></a>#}
{#            </div>#}
{#            {% endfor %}#}
{#        </div>#}
{#    </div>#}



    <div class="product-grid">

    {% for object in object_list %}
        <div class="product-item">
        <div class="product ">
            <div class="product_image">
                <img src="{{ object.get_first_image.crop.600x600 }}" alt="">
            </div>

            {%  if object.tag  %}
            <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>
                {{ object.tag }}
            </span></div>
            {% endif %}
            <div class="product_info">
                <h6 class="product_name"><a href="/">{{ object.name }} </a></h6>
                <div class="">Размерная сетка: <span>{{ object.size }} </span></div>
            </div>
        </div>
            <div class="red_button add_to_cart_button js-show-modal1" slug="{{ object.slug }}"><a href="#">Посмотреть</a></div>
        </div>




    {% endfor %}

            <!-- Modal1 -->
	<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
		<div class="overlay-modal1 js-hide-modal1"></div>

		<div class="container">
			<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
				<button class="how-pos3 hov3 trans-04 js-hide-modal1">
					<img src="{% static 'images/icons/icon-close.png' %}" alt="CLOSE">
				</button>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="single_product_pics">
                            <div class="row">
                                <div class="col-lg-3 thumbnails_col order-lg-1 order-2">
                                    <div style="max-height:527px;height:auto;width:auto;overflow:scroll;">
                                    <div class="single_product_thumbnails">
                                        <ul id="imgList">
                                            <!--<li class="active"><img src="" id="img1" alt="" data-image=""></li>-->
                                        </ul>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-lg-9 image_col order-lg-2 order-1">
                                    <div class="single_product_image">
                                        <div class="single_product_image_background" id="imgmain"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="product_details">
                            <div class="product_details_title">
                                <h3 class="cl1 bold " id="modal_name"></h3>
                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center" id="modal_tag" style="height: 29px; color: #fff; visibility: hidden;">
                                    <span>
                                    </span>
                                </div>

                                <h5 id="modal_content">{{ object.content }} </h5>
                            </div>

                            <div>
                                <div class="detail_container">
                                    <a href="/">Производитель:<span id="modal_manufacturer">&nbsp;</span></a>
                                </div>

                                <div class="detail_container">
                                    <a href="/">Пол:<span id="modal_sex">&nbsp;&nbsp;</span></a>
                                </div>

                                 <div class="detail_container">
                                    <a href="/">Цвет верха:<span id="modal_color">&nbsp;&nbsp;</span></a>
                                </div>

                                <div class="detail_container">
                                    <a href="/">Материал подкладки:<span id="modal_material_top">&nbsp;&nbsp; </span></a>
                                </div>

                                <div class="detail_container">
                                    <a href="/">Материал подошвы:<span id="modal_material_bottom">&nbsp;&nbsp; </span></a>
                                </div>



                                 <div class="detail_container">
                                    <a href="/">Размерный ряд:<span id="modal_size">&nbsp;&nbsp; </span></a>
                                </div>

                                 <div class="detail_container">
                                    <a href="/">Год коллекция:<span id="modal_year">&nbsp;</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>

</div>
{% if is_paginated %}
 {% if object_list %}
      <div class="row p-t-45">
      <div class="d-i-b" style="margin: auto">
        <ul class="pagination">

        {% if page_obj.has_previous %}
            <div id="" class="page_next">
                <a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
            </div>
        {% else %}
            <div id="" class="page_next disabled">
               <i class="fa fa-chevron-left" aria-hidden="true"></i></a>
            </div>
{#            <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>#}
        {% endif %}

        {% if page_obj.number|add:'-2' > 1 %}
            <li class="page_total "><a class="page_color" href="?page={{ page_obj.number|add:'-3' }}">&hellip;</a></li>
        {% endif %}

        {% for i in page_obj.paginator.page_range %}
          {% if page_obj.number == i %}
            <li class="page_current page_total"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
           {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
            <li><a class="page_total page_color" href="?page={{ i }}">{{ i }}</a></li>
          {% endif %}
        {% endfor %}


        {% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
            <li class="page_total " ><a class="page_color" href="?page={{ page_obj.number|add:'3' }}">&hellip;</a></li>
        {% endif %}

        {% if page_obj.has_next %}
             <div id="next_page_1" class="page_next"  >
                <a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
            </div>
        {% else %}
            <li class="disabled page_next"  ><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
        {% endif %}

        </ul>
      </div>
      </div>

    {% endif %}
{% endif %}

</div>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>

    $(document).ready(function(){
        $('.add_to_cart_button').click(function() {
          var _this = $(this);
          var slug = _this.attr("slug");
          $.ajax({
            url: '{% url 'catalogue:detail' %}',
            type: "get",
            data: {'slug': slug},

            success: function(data) {
                $(imgList).empty();
                $('.js-modal1').addClass('show-modal1');
                $('#modal_name').text(data.name);
                $('#modal_content').text(data.content);
                if (data.tag !== ""){
                    document.getElementById("modal_tag").style.visibility = "visible";
                    $('#modal_tag').text(data.tag);
                } else{
                    document.getElementById("modal_tag").style.visibility = "hidden";
                }
                $('#modal_manufacturer').text(data.manufacturer);
                $('#modal_sex').text(data.sex);
                $('#modal_color').text(data.color);
                $('#modal_material_top').text(data.material_top);
                $('#modal_material_bottom').text(data.material_bottom);
                $('#modal_size').text(data.size);
                $('#modal_year').text(data.year);

                url = 'url('+ data.img1+')';
                document.getElementById("imgmain").style.backgroundImage = url;





                if (data.img1!= null) {
                  $('#imgList').append(
                    $('<li class="">').append(
                        $('<img>').attr("id", "img1")
                          .attr("src", data.img1)
                          .attr("data-image", data.img1)
                ));
                }
                if (data.img2!= null) {
                  $('#imgList').append(
                    $('<li class="">').append(
                        $('<img>').attr("id", "img2")
                          .attr("src", data.img2)
                          .attr("data-image", data.img2)
                ));
                }
                if (data.img3!= null) {
                  $('#imgList').append(
                    $('<li class="">').append(
                        $('<img>').attr("id", "img3")
                          .attr("src", data.img3)
                          .attr("data-image", data.img3)
                ));
                }

                if (data.img4!= null) {
                  $('#imgList').append(
                    $('<li class="">').append(
                        $('<img>').attr("id", "img4")
                          .attr("src", data.img4)
                          .attr("data-image", data.img4)
                ));
                }



                if($('.single_product_thumbnails ul li').length)
                {
                    var thumbs = $('.single_product_thumbnails ul li');
                    var singleImage = $('.single_product_image_background');

                    thumbs.each(function()
                    {
                        var item = $(this);
                        item.on('click', function()
                        {
                            thumbs.removeClass('active');
                            item.addClass('active');
                            var img = item.find('img').data('image');
                            singleImage.css('background-image', 'url(' + img + ')');
                        });
                    });
                }


            },
            error: function(err) {
              console.log('error', err);
            }
          })
        })
    });
  </script>


<div class="m-t-100"></div>
<script src="{% static 'js/single_custom.js' %}"></script>


{% endblock %}



</body>
</html>
