{% extends "base.html" %}
{% load static %}

{% load thumbnail %}


<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body class="">


{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/single_styles.css' %}">
{#
<link rel="stylesheet" type="text/css" href="{% static 'css/single_responsive.css' %}">
#}

{#
<link rel="stylesheet" type="text/css" href="{% static 'css/categories_responsive.css' %}">
#}


<div class="container contact_container">


    {#
    <div class="container collection_container " style="background-image:url({% static 'images/background1.png' %})">#}
        {#
        <div class="row text-center" style="height: 100%">#}
            {# {% for year in years %}#}
            {#
            <div class="col-lg-3 col-md-6 col-sm-6 d-i-b collection_year_text" style="margin: auto;">#}
                {# <a href="/">
                    <div class="collection_year">{{ year.year }}</div>
                </a>#}
                {#
            </div>
            #}
            {# {% endfor %}#}
            {#
        </div>
        #}
        {#
    </div>
    #}


    <div class="product-grid">

        {% for object in object_list %}
        <div class="product-item">
            <div class="product ">
                <div class="product_image">
                    <img src="{{ object.get_first_image.crop.600x600 }}" alt="">
                </div>


                {% if object.tag %}
                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>
                {{ object.tag }}
            </span></div>
                {% endif %}
                <div class="product_info">
                    <h6 class="product_name"><a href="/">{{ object.name }} </a></h6>
                    <div class="">Размерная сетка: <span>{{ object.size }} </span></div>
                </div>
            </div>
            <div class="red_button add_to_cart_button js-show-modal1 "><a href="#">Посмотреть</a></div>
        </div>


        {% endfor %}



    </div>
    {% if is_paginated %}
    {% if object_list %}
    <div class="row p-t-45">
        <div class="d-i-b" style="margin: auto">
            <ul class="pagination">

                {% if page_obj.has_previous %}
                <div id="" class="page_next">
                    <a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-chevron-left"
                                                                           aria-hidden="true"></i></a>
                </div>
                {% else %}
                <div id="" class="page_next disabled">
                    <i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                </div>
                {#
                <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>
                #}
                {% endif %}

                {% if page_obj.number|add:'-2' > 1 %}
                <li class="page_total "><a class="page_color" href="?page={{ page_obj.number|add:'-3' }}">&hellip;</a>
                </li>
                {% endif %}

                {% for i in page_obj.paginator.page_range %}
                {% if page_obj.number == i %}
                <li class="page_current page_total"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                <li><a class="page_total page_color" href="?page={{ i }}">{{ i }}</a></li>
                {% endif %}
                {% endfor %}


                {% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
                <li class="page_total "><a class="page_color" href="?page={{ page_obj.number|add:'3' }}">&hellip;</a>
                </li>
                {% endif %}

                {% if page_obj.has_next %}
                <div id="next_page_1" class="page_next">
                    <a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-chevron-right"
                                                                       aria-hidden="true"></i></a>
                </div>
                {% else %}
                <li class="disabled page_next"><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
                {% endif %}

            </ul>
        </div>
    </div>

    {% endif %}
    {% endif %}

</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {
    $('.add_to_cart_button').click(function () {

      var _this = $(this);
      var slug = _this.attr("tico");
      $.ajax({
        url: '{% url 'catalogue: detail' %}',
        type: "get",
        data: {'slug': "tico"},
        success: function (data) {
          {
            #swal("", data.name, "success");
            #
          }
          $('.js-modal1').addClass('show-modal1');

          $('#modal_name').text(data.image_url);
          $('#modal_content').text(data.content);
          $('#modal_tag').text(data.tag);
          $('#modal_manufacturer').text(data.manufacturer);
          $('#modal_sex').text(data.sex);
          $('#modal_color').text(data.color);
          $('#modal_material_top').text(data.material_top);
          $('#modal_material_bottom').text(data.material_bottom);
          $('#modal_size').text(data.size);
          $('#modal_year').text(data.year);


          {
            #$('#product-quick-view-modal').modal('show');
            #
          }
          {
            #$('#product-quick-view-modal').find('.modal-body').html(data.html);
            #
          }
        },
        error: function (err) {
          console.log('error', err);
        },
      })
    })
  });
</script>

<div class="m-t-100"></div>


{% endblock %}


</body>
</html>
