
{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body class="">



{% block content %}



    <div class="container contact_container">

{#    <div class="container collection_container " style="background-image:url({% static 'images/background1.png' %})">#}
{#        <div class="row text-center" style="height: 100%">#}
{#         <fieldset class="text-center" style="display: contents;">#}
{#            {% for year in years %}#}
{##}
{#            <div class="col-lg-3 col-md-6 col-sm-6 d-i-b " style="margin: auto;">#}
{#               <a href="/catalogue"> <div class="collection_year">{{ year.year }} </div></a>#}
{##}
{#                <input id="item-{{ year}}" class=" radio-inline__input" type="radio" name="accessible-radio" value="{{ year}}" checked="checked"/>#}
{#                  <label class="radio-inline__label" for="item-{{ year}}">#}
{#                      {{ year }}#}
{#                  </label>#}
{#            </div>#}
{#            {% endfor %}#}
{#         </fieldset>#}
{#        </div>#}
{#    </div>#}




<div class="containerr">
<div class="option">
      <div class="barr bar-background">

    <!--{% for year in years %}-->
       <!--<div class="option">-->
            <!--<div class="category">{{ year }}</div>-->
        <!--</div>-->

      <!--{% endfor %}-->


    <div class="option">
        <h5 class="p-t-10">fsdf</h5>
        <div class="category">Shoes</div>
    </div>
    <div class="option">
        <h5>fsdf</h5>
      <div class="category">Shoes</div>
    </div>
    <div class="option">
        <h5>fsdf</h5>
      <div class="category">Shirts</div>
    </div>
    <div class="option">
        <h5>fsdf</h5>
      <div class="category">Pants</div>
    </div>
  </div>
  <div class="bar-outer">
    <div class="barr bar-inner">

        <!--{% for year in years %}-->
       <!--<div class="option">-->
            <!--<div class="category">{{ year }}</div>-->
        <!--</div>-->

      <!--{% endfor %}-->


        <!--{% for year in years %}-->
       <!--<div class="option">-->
            <!--<div class="category">{{ year }}</div>-->
        <!--</div>-->

      <!--{% endfor %}-->



      <div class="option">
          <h5>fsdf</h5>

        <div class="category">T-shirts</div>
      </div>
      <div class="option">
        <h5>fsdf</h5>
        <div class="category">Shoes</div>
      </div>
      <div class="option">
            <h5>fsdf</h5>
        <div class="category">Shirts</div>
      </div>
      <div class="option">
        <h5>fsdf</h5>
        <div class="category">Pants</div>
      </div>


    </div>
  </div>
</div>
</div>




    <div class="container collection_container " style="background-image:url({% static 'images/background1.png' %})">
        <div class="row text-center" style="height: 100%">
         <fieldset class="text-center" style="display: contents;">
            {% for year in years %}

            <div class="col-lg-3 col-md-6 col-sm-6 d-i-b " style="margin: auto;">

                <li class="grid_sorting_button button d-flex flex-column justify-content-center align-items-center is-checked" data-filter=".{{ year }}">{{ year }}</li>
            </div>
            {% endfor %}
         </fieldset>
        </div>
    </div>


    <div class="new_arrivals">
		<div class="container">

			<div class="row">
				<div class="col">
					<div class="year-grid" data-isotope='{ "itemSelector": ".year-item", "layoutMode": "fitRows" }'>

						<!-- Product 1 -->

                        {% for object in list %}

                            <div class="year-item grid_sorting_button2 contact_col m-t-40 women {{ object.parent.name }}">
                                <a href="/catalogue">
                               <div class="col-sm-12"  >
                                <img class="deals_image_collection" src="{{ object.get_image.crop.1000x600 }}" alt="IMG-BANNER">
                              </div>

                                <div class="p-t-20 cl1 bold d-i-b" style="padding-left: 20px;">{{ object.name }}</div>
                                <div class="cl3 d-i-b" style="float: right; padding: 25px; font-size: 18px;">{{ object.parent }}</div>
                                <p>{{ object.description }}</p>
                                </a>
                        </div>

                        {% endfor %}

					</div>
				</div>
			</div>




            <div class="row align-items-center">
				<div class="col text-center">
					<div class="new_arrivals_sorting">
						<ul class="arrivals_grid_sorting clearfix button-group filters-button-group ">

							<li class="grid_sorting_button3 button d-flex flex-column justify-content-center align-items-center is-checked" data-filter=".men">Мужской</li>
                            <li class="grid_sorting_button3 button d-flex flex-column justify-content-center align-items-center is-checked " data-filter="" >Унисекс</li>
                            <li class="grid_sorting_button3 button d-flex flex-column justify-content-center align-items-center is-checked" data-filter=".women">Женский</li>
						</ul>
					</div>
				</div>
			</div>


		</div>
	</div>








{#    <fieldset>#}
{#          <input id="item-1" class="radio-inline__input" type="radio" name="accessible-radio" value="item-1" checked="checked"/>#}
{#          <label class="radio-inline__label" for="item-1">#}
{#              Item 1#}
{#          </label>#}
{#          <input id="item-2" class="radio-inline__input" type="radio" name="accessible-radio" value="item-2"/>#}
{#          <label class="radio-inline__label" for="item-2">#}
{#              Item 2#}
{#          </label>#}
{#          <input id="item-3" class="radio-inline__input" type="radio" name="accessible-radio" value="item-3"/>#}
{#          <label class="radio-inline__label" for="item-3">#}
{#              Item 3#}
{#          </label>#}
{#    </fieldset>#}



{#    <div class="container collection_container " style="background-image:url({% static 'images/background1.png' %})">#}
{#    <section>#}
{#	<div class="diagonal">2018#}
{#		<div class="undiagonal">#}
{#			<div class="body">#}
{#				<h1>Sportrechte</h1>#}
{#				<div class="intro">aufbau und Pflege reichenweitenstarker digitaler plattformen für Sport fans</div>#}
{#				<div class="entry">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. </div>#}
{#			</div>#}
{#		</div>#}
{#	</div>#}
{#    </section>#}
{#    <div class="info">Place mouse cursor over the red line</div>#}
{#    </div>#}


{#    <div class="img-example">#}
{#      <div>#}
{#        <h2>2018</h2>#}
{#      </div>#}
{#        <div>#}
{#            <h2>2019</h2>#}
{#        </div>#}
{#      <img src="https://via.placeholder.com/750x200">#}
{#    </div>#}



    <div class=" row background context_info">


{#        <div class="col-lg-6 contact_col m-t-40 grid_sorting_button2 women">#}
{#        <a href="/catalogue">#}
{#          <div class="col-sm-12"  >#}
{#            <img class="deals_image_collection" src="{% static 'images/IMG_9169.jpg' %}" alt="IMG-BANNER">#}
{#          </div>#}
{#            <h3 class="p-t-20 cl1 bold">Зима 2018</h3>#}
{#            <p class="cl2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.#}
{#                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>#}
{#        </a>#}
{#        </div>#}
{##}
{#        <div class="col-lg-6 contact_col m-t-40">#}
{#            <a href="/catalogue">#}
{#           <div class="col-sm-12"  >#}
{#            <img class="deals_image_collection" src="{% static 'images/IMG_9170.jpg' %}" alt="IMG-BANNER">#}
{#          </div>#}
{#            <h3 class="p-t-20 cl1 bold">Зима 2018</h3>#}
{#            <p class="cl2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.#}
{#                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>#}
{#            </a>#}
{#        </div>#}
{##}
{#        <div class="col-lg-6 contact_col m-t-40">#}
{#            <a href="/catalogue">#}
{#           <div class="col-sm-12"  >#}
{#            <img class="deals_image_collection" src="{% static 'images/IMG_9171.jpg' %}" alt="IMG-BANNER">#}
{#          </div>#}
{#            <h3 class="p-t-20 cl1 bold">Весна 2019</h3>#}
{#            <p class="cl2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.#}
{#                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>#}
{#            </a>#}
{#        </div>#}
{##}
{#        <div class="col-lg-6 contact_col m-t-40">#}
{#            <a href="/catalogue">#}
{#           <div class="col-sm-12"  >#}
{#            <img class="deals_image_collection" src="{% static 'images/IMG_9172.jpg' %}" alt="IMG-BANNER">#}
{#          </div>#}
{#            <h3 class="p-t-20 cl1 bold">Лето 2019</h3>#}
{#            <p class="cl2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.#}
{#                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>#}
{#            </a>#}
{#        </div>#}
{##}
{##}
{#        <div class="col-lg-6 contact_col m-t-40">#}
{##}
{#           <a href="/catalogue">#}
{##}
{##}
{#           <div class="col-sm-12">#}
{#            <img class="deals_image_collection" src="{% static 'images/IMG_9173.jpg' %}" alt="IMG-BANNER">#}
{#            </div>#}
{#            <h3 class="p-t-20 cl1 bold">Лето 2019</h3>#}
{#            <p class="cl2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.#}
{#                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>#}
{#            </a>#}
{#        </div>#}
{##}





  </div>
</div>
<div class="m-t-100"></div>



{% endblock %}

</body>
</html>
