{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body >



{% block content %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/contact_styles.css' %}">
    <div class="container  m-t-20 ">

		<div class="col-lg-12 m-b-60">
            <div class="contact2_h1">КОНТАКТЫ</div>
            <div class="contact_h1">КОНТАКТЫ</div>
        </div>

		<!--<div class="text-center">-->
			<!--<h2>Контакты</h2>-->
		<!--</div>-->


		<div class="row background context_info ">

			<div class="col-lg-6 contact_col">
				<div class="contact_contents">
					<h1>Связь с нами</h1>
					<p>Вы можете связаться с нами любым доступным способом, представленным на этой странице.</p>
					<div>
						<p><i class="fa fa-map-marker" aria-hidden="true"></i>  Мясницкая ул. 13</p>
						<p><i class="fa fa-phone" aria-hidden="true"></i> +7-800-888-99-99</p>
						<p><i class="fa fa-envelope" aria-hidden="true"></i> info@tico-shoes.ru</p>
					</div>
					<div>
						<p>Часы работы: 8.00-20.00 Пн-Сб</p>
						<p>Воскресенье: 9.00-17.00</p>
					</div>
				</div>

				<div class="follow_us_contents">
					<h2>Следите за нами</h2>
					<ul class="social d-flex flex-row">
						<li><a href="#" style="background-color: #8f6247"><i class="fa fa-vk" aria-hidden="true"></i></a></li>
						<li><a href="#" style="background-color: #3a61c9"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li><a href="#" style="background-color: #8f6247"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>

					</ul>
				</div>

			</div>

			<div class="col-lg-6 get_in_touch_col">
				<div class="contact_contents">
					<h1>Есть вопрос?</h1>
					<p>Оставьте свой телефон и мы вам перезвоним</p>
					<form method="POST" class="send_message" action="{% url 'catalogue:contact_me' %}">
						<div>
							<input id="input_name" class="form_input input_name input_ph" type="text" name="name" placeholder="Имя" required="required" data-error="Укажите ваше имя.">
							<input id="input_email" class="form_input input_email input_ph" type="email" name="email" placeholder="E-mail" required="required" data-error="Укажите ваш e-mail.">
							<textarea id="content" class="input_ph input_message" name="content"  placeholder="Ваше сообщение или вопрос (можно не заполнять)" rows="3" required data-error="Напишите сообщение."></textarea>

                            <button id="review_submit" type="submit" class="red_button message_submit_btn trans_300" >Отправить</button>
                        </div>
					</form>
				</div>
			</div>

		</div>
	</div>


    <div class="m-t-100"></div>




    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        var csrftoken = $("input[name=csrfmiddlewaretoken]").val();
        $(document).on('submit', '.send_message',function(e) {
            e.preventDefault();
            e.stopPropagation();
            var $form = $(this);
            var url = $form.attr( "action" );
            var thisId = $form.attr( "id" );
            $.post(url, $form.serialize())
                .done(function(data) {
                    swal("", "Сообщение успешно оставлено!!", "success");
                });
        });
    </script>



{% endblock %}


</body>
</html>
