{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body class="">



{% block content %}



    <div class="container contact_container">

    <div class=" row background context_info">

        {% for object in object_list %}
        <div class="col-lg-12 contact_col m-t-40">

            {% if object.image %}
            {% load thumbnail %}
              <div class="col-sm-12"  >
                <img class="deals_image" src="{% thumbnail object.get_image 350x350 crop='scale' %}" alt="IMG-BANNER">
              </div>
            {% endif%}
            <h3 class="p-t-20 cl1 bold">{{object.name}}</h3>
            <p class="cl2"> {{object.content}}</p>
        </div>
        {% endfor %}



        <div class="col-lg-12 contact_col m-t-40">

          <div class="col-sm-12"  >
            <img class="deals_image" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
          </div>
            <h3 class="p-t-20 cl1 bold">Пример акции №1</h3>
            <p class="cl2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        </div>



        <div class="col-lg-12 contact_col m-t-40">

           <div class="col-sm-12"  >
            <img class="deals_image" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
          </div>
            <h3 class="p-t-20 cl1 bold">Пример акции №2</h3>
            <p class="cl2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        </div>

        <div class="col-lg-12 contact_col m-t-40">

           <div class="col-sm-12"  >
            <img class="deals_image" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
          </div>
            <h3 class="p-t-20 cl1 bold">Пример акции №3</h3>
            <p class="cl2">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
                Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

        </div>



  </div>
</div>
<div class="m-t-100"></div>



{% endblock %}


</body>
</html>
