{% extends "base2.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body class="">


{% block content %}

    <div class="container-fluid franquicia" style="background-image:url({% static 'images/background6.png' %});">

        <div class="container text-center" style="padding-top: 120px;">
            <h3 class="cl0">Lorem ipsum dolor sit amet, consectetuer
                adipiscing elit!
            </h3>

            <div class="row m-t-40">
                <div class="col-md-4 m-b-60">
                    <div class="franquicia_small">МЕС.</div>
                    <div class="franquicia_big">2</div>

                    <h4 class="cl0" style="padding-top: 50px;">
                        Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonummy nibh euismod hen
                    </h4>
                </div>



                <div class="col-md-4 m-b-60">
                    <div class="franquicia_small">РУБ.</div>
                   <div class="franquicia_big">0</div>
                    <h4 class="cl0" style="padding-top: 50px;">
                        Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonummy nibh euismod hen
                    </h4>
                </div>

                <div class="col-md-4 m-b-60">
                    <div class="franquicia_small">МЕС.</div>
                    <div class="franquicia_big">12</div>
                    <h4 class="cl0" style="padding-top: 50px;">
                        Lorem ipsum dolor sit amet, consec tetuer adipiscing elit, sed diam nonummy nibh euismod hen
                    </h4>
                </div>
            </div>


            <form method="POST" class="send_message" action="{% url 'catalogue:request_me' %}">
                {% csrf_token %}
                <div class="row text-center">
                    <div class="franquicia_form m-b-30">
                        <input class="" style="background: transparent; border: none;" type="text" id="name" name="name" placeholder="Имя">
                    </div>
                    <div class="franquicia_form m-b-30">
                        <input class="" style="background: transparent; border: none;" type="text" id="email" name="email" placeholder="E-mail">
                    </div>
                    <div class="franquicia_button m-b-30">
                        <button class="cl0 franquicia_btn"  type="submit">Отправить</button>
                    </div>

                    <textarea id="content" style="visibility: hidden; max-width: 0px;" class="input_ph input_message" name="content"   placeholder="" rows="3"  data-error="Напишите сообщение.">Заявка на ФРАНШИЗУ</textarea>
                </div>
            </form>



        </div>
    </div>


    <div class="container contact_container ">





    <div class=" row background context_info m-t-100  ">
        <div class="col-lg-12 m-b-60">
            <div class="contact2_h1">ПРЕИМУЩЕСТВА</div>
            <div class="contact_h1">ПРЕИМУЩЕСТВА</div>

        </div>

        <div class="col-md-4 m-t-60">

          <div class="col-sm-12 text-center" >
            <img class="about_image" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
          </div>
            <div class="col-sm-12 text-center p-t-20" >
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>

        <div class="col-md-4 m-t-40">
          <div class="col-sm-12 text-center" >
            <img class="about_image" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
          </div>
            <div class="col-sm-12 text-center p-t-20" >
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>

		</div>

        <div class="col-md-4 m-t-40">
          <div class="col-sm-12 text-center" >
            <img class="about_image" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
          </div>
            <div class="col-sm-12 text-center p-t-20" >
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
		</div>

         <div class="col-md-4 m-t-40">

          <div class="col-sm-12 text-center" >
            <img class="about_image" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
          </div>
            <div class="col-sm-12 text-center p-t-20" >
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>

        <div class="col-md-4 m-t-40">
          <div class="col-sm-12 text-center" >
            <img class="about_image" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
          </div>
            <div class="col-sm-12 text-center p-t-20" >
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
		</div>

         <div class="col-md-4 m-t-40">

          <div class="col-sm-12 text-center" >
            <img class="about_image" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
          </div>
            <div class="col-sm-12 text-center p-t-20" >
                <h4>Lorem ipsum dolor sit amet</h4>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
                </p>
            </div>
        </div>



    </div>
    </div>

    <div class="main_slider" style="background-image:url({% static 'images/background1.png' %})">
		<div class="container fill_height">
			<div class="row align-items-center fill_height">
				<div class="col">
					<div class="main_slider_content">
{#						<h2 class="text-center" style="color: #fff;">Производитель</h2>#}
                        <div class="contact2_h1" style="color:#FFFFFF; opacity: .35;" >ПРОИЗВОДИТЕЛЬ</div>
                        <div class="contact_h1" style="color:#FFFFFF">ПРОИЗВОДИТЕЛЬ</div>
                        <p class="p-t-40" style="color: #FFFFFF">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
						<div class="slider_button "><a href="#">Подробнее</a></div>
					</div>
				</div>
			</div>
		</div>
	</div>

    <div class="container contact_container">
     <div class=" row background context_info m-t-180">
        <div class="col-lg-12 m-b-30">
            <div class="contact2_h1">НОВОМУ ПАРТНЕРУ</div>
            <div class="contact_h1">НОВОМУ ПАРТНЕРУ</div>
        </div>

        <div class="col-sm-12  text-center m-t-60 m-b-20" >
            <h3 class="cl1">Компания TIFLANI осуществляет поддержку партнеров на всех этапах открытия магазина:</h3>

        </div>
        <div class="col-sm-12 m-t-20 franquicia_benefit" >

{#            <div class="p-t-20 col-sm-12" >#}
{#                <div class="d-i-b">#}
{#                    <img class="about_image " style="max-height: 50px;" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">#}
{#                </div>#}
{#                <div class="d-i-b" style="padding-left: 20px;">При открытии магазина компенсирует затраты на проведение акций и розыгрышей в размере до 30 000 рублей.</div>#}
{##}
{##}
{##}
{#            </div>#}

            <div class="p-t-20" >
                <img class="about_image d-i-b" style="max-height: 50px;" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
                <div class="d-i" style="margin-left: 20px;">При открытии магазина компенсирует затраты на проведение акций и розыгрышей в размере до 30 000 рублей.</div>
            </div>

            <div class="p-t-20" >
                <img class="about_image d-i-b" style="max-height: 50px;" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
                 <div class="d-i" style="padding-left: 20px;">Разрабатывает индивидуальный дизайн-проект для каждого фирменного магазина.</div>
            </div>

            <div class="p-t-20" >
                <img class="about_image d-i-b" style="max-height: 50px;" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
                 <div class="d-i" style="padding-left: 20px;">Отсутствие ежемесячных отчислений за сервисное обслуживание.</div>
            </div>

            <div class="p-t-20" >
                <img class="about_image d-i-b" style="max-height: 50px;" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
                 <p class="d-i" style="padding-left: 20px;">Изготовление торгового оборудования по фирменным чертежам.</p>
            </div>

            <div class="p-t-20" >
                <img class="about_image d-i-b" style="max-height: 50px;" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
                 <div class="d-i" style="padding-left: 20px;">Open-макет в подарок: фирменные дисконтные карты, регистрационные формы, визитки, пакеты.</div>
            </div>

            <div class="p-t-20" >
                <img class="about_image d-i-b" style="max-height: 50px;" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
                 <div class="d-i" style="padding-left: 20px;">Доставка товара из Турции, растаможка, сертификация.</div>
            </div>

            <div class="p-t-20" >
                <img class="about_image d-i-b" style="max-height: 50px;" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
                 <div class="d-i" style="padding-left: 20px;">Дополнительная скидка на постоянных условиях.</div>
            </div>
            <div class="p-t-20" >
                <img class="about_image d-i-b" style="max-height: 50px;" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
                 <div class="d-i" style="padding-left: 20px;">Приоритетное обеспечение товаром и возможность постоянной подсортировки со свободного склада.</div>
            </div>

            <div class="p-t-20" >
                <img class="about_image d-i-b" style="max-height: 50px;" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
                 <div class="d-i" style="padding-left: 20px;">Предоставляет справочную информацию и консультирует обладателей франшизы по мерчендайзингу.</div>
            </div>

            <div class="p-t-20" >
                <img class="about_image d-i-b" style="max-height: 50px;" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
                 <div class="d-i" style="padding-left: 20px;">Оказывает помощь в формировании сбалансированного товарного ассортимента.</div>
            </div>

            <div class="p-t-20" >
                <img class="about_image d-i-b" style="max-height: 50px;" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
                 <div class="d-i" style="padding-left: 20px;">Оказывает методическую и консультационную поддержку по стандартам обслуживания и технологии продаж.</div>
            </div>
        </div>

     </div>
    </div>


    <div class="container-fluid m-t-100 franquicia_city">
    <div class="container fill_height">
			<div class="row align-items-center fill_height">
				<div class="col">
					<div class="main_slider_content">
                        <div class="contact2_h1" style="color:#FFFFFF; opacity: .35;" >УЖЕ ОТКРЫЛИСЬ</div>
                        <div class="contact_h1" style="color:#FFFFFF">УЖЕ ОТКРЫЛИСЬ</div>


                        <div class="row m-b-60 m-t-70">
                            <div class="col-md-4 d-i-b m-t-20">
                                <div class="franquicia_h1" style="color:#FFFFFF">МОС. ОБЛАСТЬ</div>
                                <h4 class="cl0 text-center p-t-20">7 магазинов</h4>

                                <div class="franquicia_container">
                                    <a href="/">Белгород<span>&nbsp;&nbsp; 1 магазин</span></a>
                                </div>

                                <div class="franquicia_container">
                                    <a href="/">Владивосток<span>&nbsp;&nbsp; 1 магазин</span></a>
                                </div>

                                <div class="franquicia_container">
                                    <a href="/">Краснодар<span>&nbsp;&nbsp; 2 магазина</span></a>
                                </div>

                                 <div class="franquicia_container">
                                    <a href="/">Красноярск<span>&nbsp;&nbsp; 2 магазина</span></a>
                                </div>



                            </div>
                            <div class="col-md-4 d-i-b m-t-20">
                                <div class="franquicia_h1" style="color:#FFFFFF">МОСКВА</div>
                                <h4 class="cl0 text-center p-t-20">4 магазина</h4>

                                <div class="franquicia_container">
                                    <a href="/">Курск<span>&nbsp;&nbsp; 1 магазин</span></a>
                                </div>

                                <div class="franquicia_container">
                                    <a href="/">Липецк<span>&nbsp;&nbsp; 1 магазин</span></a>
                                </div>

                                <div class="franquicia_container">
                                    <a href="/">Нижневартовск<span>&nbsp;&nbsp; 2 магазина</span></a>
                                </div>

                                <div class="franquicia_container">
                                    <a href="/">Омск<span>&nbsp;&nbsp; 1 магазин</span></a>
                                </div>

                            </div>
                            <div class="col-md-4 d-i-b m-t-20">
                                <div class="franquicia_h1" style="color:#FFFFFF">САНКТ-ПИТЕРБУРГ</div>
                                <h4 class="cl0 text-center p-t-20">4 магазина</h4>

                                <div class="franquicia_container">
                                    <a href="/">Перьм<span>&nbsp;&nbsp; 1 магазин</span></a>
                                </div>

                                <div class="franquicia_container">
                                    <a href="/">Пятигорск<span>&nbsp;&nbsp; 1 магазин</span></a>
                                </div>

                                <div class="franquicia_container">
                                    <a href="/">Сочи<span>&nbsp;&nbsp; 1 магазин</span></a>
                                </div>

                                <div class="franquicia_container">
                                    <a href="/">Сургут<span>&nbsp;&nbsp; 1 магазин</span></a>
                                </div>
                            </div>
                        </div>


                        <form method="POST" class="send_message" action="{% url 'catalogue:request_me' %}">
                            {% csrf_token %}
                            <div class="row text-center">
                                <div class="franquicia_form m-b-30">
                                    <input class="" style="background: transparent; border: none;" type="text" id="name" name="name" placeholder="Имя">
                                </div>
                                <div class="franquicia_form m-b-30">
                                    <input class="" style="background: transparent; border: none;" type="text" id="email" name="email" placeholder="E-mail">
                                </div>
                                <div class="franquicia_button m-b-30">
                                    <button class="cl0 franquicia_btn"  type="submit">Отправить</button>
                                </div>

                                <textarea id="content" style="visibility: hidden; max-width: 0px;" class="input_ph input_message" name="content"   placeholder="" rows="3"  data-error="Напишите сообщение.">Заявка на ФРАНШИЗУ</textarea>
                            </div>
                        </form>




					</div>
				</div>
			</div>
		</div>

    </div>






    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type="text/javascript">
        var csrftoken = $("input[name=csrfmiddlewaretoken]").val();
        $(document).on('submit', '.send_message',function(e) {
            e.preventDefault();
            e.stopPropagation();
            var $form = $(this);
            var url = $form.attr( "action" );
            var thisId = $form.attr( "id" );
            $.post(url, $form.serialize())
                .done(function(data) {
                    swal("", "Сообщение успешно оставлено!!", "success");
                });
        });
    </script>

{% endblock %}


</body>
</html>
