{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body class="">



{% block content %}



    <div class="container contact_container">



		<!-- Map Container -->

		<div class="row">
			<div class="col">
				<div id="google_map">
					<div class="map_container">
					    <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A0845e553ed6c17b19df9fd042e6c5ca18e468e1456a0ea9ce91be6765771e63d&amp;width=1140&amp;height=438&amp;lang=ru_RU&amp;scroll=true"></script>
                    </div>
				</div>
			</div>
		</div>


    <div class=" row background context_info " style="margin-top: 40px;">

			<div class="col-lg-6 contact_col m-b-60">


            <div class="contact_h3 bold">Фирменные магазины в Москве</div>
              <div class="contactinfo_container">
                <a href="/">ТК "Аэробус"<span>&nbsp;&nbsp; Варшавсвкое шоссе д. 95 к.1, 1 этаж, пав. 21</span></a>
              </div>

              <div class="contactinfo_container">
                <a href="/">ТК "Аэробус"<span>&nbsp;&nbsp; Варшавсвкое шоссе д. 95 к.1, 1 этаж, пав. 21</span></a>
              </div>

              <div class="contactinfo_container">
                <a href="/">ТК "Аэробус"<span>&nbsp;&nbsp; Варшавсвкое шоссе д. 95 к.1, 1 этаж, пав. 21</span></a>
              </div>

              <div class="contactinfo_container">
                <a href="/">ТК "Аэробус"<span>&nbsp;&nbsp; Варшавсвкое шоссе д. 95 к.1, 1 этаж, пав. 21</span></a>
              </div>

            </div>

			<div class="col-lg-6 get_in_touch_col">
              <div class="contact_h3 bold">Магазины партнеров</div>
              <div class="row">
                <div class="col-sm-6 contact_menu">

                    <div class="contactinfo_container">
                        <a href="/">Москва<span>&nbsp;&nbsp; 4 магазина</span></a>
                    </div>

                    <div class="contactinfo_container">
                        <a href="/">Москва<span>&nbsp;&nbsp; 4 магазина</span></a>
                    </div>

                    <div class="contactinfo_container">
                        <a href="/">Москва<span>&nbsp;&nbsp; 4 магазина</span></a>
                    </div>
                </div>

            <div class="col-sm-6 contact_menu">
              <div class="contactinfo_container">
                <a href="/">Краснодар<span>&nbsp;&nbsp; 2 магазина</span></a>
              </div>

              <div class="contactinfo_container">
                <a href="/">Красноярск<span>&nbsp;&nbsp; 2 магазина</span></a>
              </div>

            </div>

          </div>
			</div>

		</div>

    <div class=" row " style="margin-top: 40px;">
      <div class="col-lg-12 m-t-60">
           <div class="contact2_h1">ИНТЕРНЕТ-МАГАЗИНЫ</div>
            <div class="contact_h1">ИНТЕРНЕТ-МАГАЗИНЫ</div>
      </div>

      <div class="col-lg-12 m-t-60">
        <div class="contact_h2">Фирменные интернет-магазины</div>
      </div>
    </div>

    <div class=" row m-t-40" >
      <div class="col-md-6 text-center p-t-20">
        <img class="about_image" style="height: 100px; display: inline-block;" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
        <div class="contact_h3" style="text-align: center; display: inline-block; padding-left: 30px;">
            <div>Lorem ipsum</div>
            <h5 class="p-t-10 cl1">www.lorem_ipsum.ru</h5>
        </div>
      </div>

      <div class="col-md-6 text-center p-t-20">
        <img class="about_image" style="height: 100px; display: inline-block;" src="{% static 'images/grey.jpg' %}" alt="IMG-BANNER">
       <div class="contact_h3" style="text-align: center; display: inline-block; padding-left: 30px;">
            <div>Lorem ipsum</div>
            <h5 class="p-t-10 cl1">www.lorem_ipsum.ru</h5>
        </div>
      </div>
    </div>

    <div class=" row " style="margin-top: 40px;">
      <div class="col-lg-12 m-b-60" >
        <div class="contact_h2">Интернет-магазины партнеров</div>
      </div>
      <div class="col-sm-4 m-b-30" style="padding:0px 80px 0px 80px">
          <img class="contact_image" src="{% static 'images/wildberries.png' %}" alt="IMG-BANNER">
      </div>

      <div class="col-sm-4 m-b-30" style="padding: 0px 80px 0px 80px">
          <img class="contact_image" src="{% static 'images/ozon.png' %}" alt="IMG-BANNER">
      </div>

      <div class="col-sm-4 m-b-30" style="padding:0px 80px 0px 80px">
          <img class="contact_image" src="{% static 'images/lamoda.png' %}" alt="IMG-BANNER">
      </div>
      <div class="col-sm-4 m-b-30" style="padding:0px 80px 0px 80px">
          <img class="contact_image" src="{% static 'images/mytoys.png' %}" alt="IMG-BANNER">
      </div>

    </div>



</div>

<div class="m-t-100"></div>

{% endblock %}


</body>
</html>
