{% extends "base.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
</head>
<body class="">



{% block content %}
<link rel="stylesheet" type="text/css" href="{% static 'css/single_styles.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/cat.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/cat_res.css' %}">





   <div class="container p-t-30">
		<div class="row">
			<div class="col product_section clearfix">
				<!-- Sidebar -->
				<div class="sidebar">
                    <form method="GET" class="send_message" action="{% url 'catalogue:test' %}">
					<div class="sidebar_section">
                        <div class="sidebarr">
							<h4>Коллекция</h4>
						<div class="sidebar_title">

						</div>
						  <ul class="acc-menu ">
							  {% load mptt_tags %}
							  {% recursetree nodes %}
								{% if node.is_root_node %}
									<li class="parent">
									   <input type="checkbox"  id="{{node.id}}"/>
									   <label for="{{ node.id }}"></label>

										<a href="#">{{ node.name }}</a>
										<ul>
                                            {{ children }}
										</ul>
									</li>
								{% else %}
                              <ul class="checkboxes">
									  <li  class="active" value="{{ node.id }}"><a href="#"><i class="fa fa-square" aria-hidden="true"></i> {{ node.name }}</a></li>
                              </ul>
                              {% endif %}
							{% endrecursetree %}

						    </ul>
						</div>
					</div>
					<div class="sidebar_section">
						<div class="sidebar_title">
							<h4>Пол</h4>
						</div>
						<ul class="checkboxes">
							<li class="active" value="-1"><i class="fa fa-square" aria-hidden="true"></i><span>Мужской</span></li>
							<li class="active" value="-2"><i class="fa fa-square" aria-hidden="true"></i><span>Женский</span></li>
							<li class="active" value="-3"><i class="fa fa-square" aria-hidden="true"></i><span>Унисекс</span></li>
						</ul>

						<div class="sidebar_section">
							<button class="filter_button" type="submit"><span>Показать</span></button>
						</div>
					</div>
                    </form>
				</div>




				<!-- Main Content -->

				<div class="main_content">

					<!-- Products -->
                    <!--{% if gender %}-->
                        <!--{% for object in gender %}-->
                            <!--{{ object }}-->
                        <!--{% endfor %}-->
                    <!--{% endif %}-->
					<div class="products_iso">
								<!-- Product Grid -->

									{% for object in object_list %}
                                        <div class="product-item">
                                        <div class="product ">
                                            <div class="product_image">
												<div class="product_image_size">
													{% load thumbnail %}
													<div class="thumbnail">
														<img src="{% thumbnail object.get_first_image 350x350 crop='scale' %}" alt="">
													</div>
												</div>

                                            </div>
                                            {%  if object.tag  %}
                                            <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center"><span>
                                                {{ object.tag }}
                                            </span></div>
                                            {% endif %}
                                            <div class="product_info">
                                                <h6 class="product_name"><a href="/">{{ object.name }} </a></h6>
                                                <div class="">Размерная сетка: <span>{{ object.size }} </span></div>
                                            </div>
                                        </div>
                                            <div class="red_button add_to_cart_button js-show-modal1 " slug="{{ object.slug }}"><a href="#">Посмотреть</a></div>
                                        </div>
                                    {% endfor %}



								<!-- Product Sorting -->

                                {% if is_paginated %}
                                     {% if object_list %}
                                          <div class="row p-t-45">
                                          <div class="d-i-b" style="margin: auto">
                                            <ul class="pagination m-b-30">

                                            {% if page_obj.has_previous %}
                                                <div id="" class="page_next">
                                                    <a href="?page={{ page_obj.previous_page_number }}"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                                                </div>
                                            {% else %}
                                                <div id="" class="page_next disabled">
                                                   <i class="fa fa-chevron-left" aria-hidden="true"></i></a>
                                                </div>
                                    {#            <li class="disabled"><span><i class="fa fa-chevron-left" aria-hidden="true"></i></span></li>#}
                                            {% endif %}

                                            {% if page_obj.number|add:'-2' > 1 %}
                                                <li class="page_total "><a class="page_color" href="?page={{ page_obj.number|add:'-3' }}">&hellip;</a></li>
                                            {% endif %}

                                            {% for i in page_obj.paginator.page_range %}
                                              {% if page_obj.number == i %}
                                                <li class="page_current page_total"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                                               {% elif i > page_obj.number|add:'-3' and i < page_obj.number|add:'3' %}
                                                <li><a class="page_total page_color" href="?page={{ i }}">{{ i }}</a></li>
                                              {% endif %}
                                            {% endfor %}


                                            {% if page_obj.paginator.num_pages > page_obj.number|add:'2' %}
                                                <li class="page_total " ><a class="page_color" href="?page={{ page_obj.number|add:'3' }}">&hellip;</a></li>
                                            {% endif %}

                                            {% if page_obj.has_next %}
                                                 <div id="next_page_1" class="page_next"  >
                                                    <a href="?page={{ page_obj.next_page_number }}"><i class="fa fa-chevron-right" aria-hidden="true"></i></a>
                                                </div>
                                            {% else %}
                                                <li class="disabled page_next"  ><span><i class="fa fa-chevron-right" aria-hidden="true"></i></span></li>
                                            {% endif %}

                                            </ul>
                                          </div>
                                          </div>

                                        {% endif %}
                                    {% endif %}


					</div>
				</div>
			</div>
		</div>
	</div>


<!-- Modal1 -->
	<div class="wrap-modal1 js-modal1 p-t-60 p-b-20">
		<div class="overlay-modal1 js-hide-modal1"></div>

		<div class="container">
			<div class="bg0 p-t-60 p-b-30 p-lr-15-lg how-pos3-parent">
				<button class="how-pos3 hov3 trans-04 js-hide-modal1">
					<img src="{% static 'images/icons/icon-close.png' %}" alt="CLOSE">
				</button>
                <div class="row">
                    <div class="col-lg-8">
                        <div class="single_product_pics">
                            <div class="row">
                                <div class="col-lg-3 thumbnails_col order-lg-1 order-2">
                                    <div style="max-height:527px;height:auto;width:auto;overflow:scroll;">
                                    <div class="single_product_thumbnails">
                                        <ul id="imgList">
                                            <!--<li class="active"><img src="" id="img1" alt="" data-image=""></li>-->
                                        </ul>
                                    </div>
                                    </div>
                                </div>
                                <div class="col-lg-9 image_col order-lg-2 order-1">
                                    <div class="single_product_image">
                                        <div class="single_product_image_background" id="imgmain"></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="product_details">
                            <div class="product_details_title" style="padding-left: 10px;">
                                <h3 class="cl1 bold " id="modal_name"></h3>
                                <div class="product_bubble product_bubble_right product_bubble_red d-flex flex-column align-items-center" id="modal_tag" style="height: 29px; color: #fff; visibility: hidden;">
                                    <span>
                                    </span>
                                </div>

                                <h5 id="modal_content">{{ object.content }} </h5>
                            </div>

                            <div style="padding-left: 30px;">
                                <div class="detail_container">
                                    <a href="/">Производитель:<span id="modal_manufacturer">&nbsp;</span></a>
                                </div>

                                <div class="detail_container">
                                    <a href="/">Пол:<span id="modal_sex">&nbsp;&nbsp;</span></a>
                                </div>

                                 <div class="detail_container">
                                    <a href="/">Цвет верха:<span id="modal_color">&nbsp;&nbsp;</span></a>
                                </div>

                                <div class="detail_container">
                                    <a href="/">Материал подкладки:<span id="modal_material_top">&nbsp;&nbsp; </span></a>
                                </div>

                                <div class="detail_container">
                                    <a href="/">Материал подошвы:<span id="modal_material_bottom">&nbsp;&nbsp; </span></a>
                                </div>



                                 <div class="detail_container">
                                    <a href="/">Размерный ряд:<span id="modal_size">&nbsp;&nbsp; </span></a>
                                </div>

                                 <div class="detail_container">
                                    <a href="/">Год коллекция:<span id="modal_year">&nbsp;</span></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
		</div>
	</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>

    $(document).ready(function(){
        $('.add_to_cart_button').click(function() {
          var _this = $(this);
          var slug = _this.attr("slug");
          $.ajax({
            url: '{% url 'catalogue:detail' %}',
            type: "get",
            data: {'slug': slug},

            success: function(data) {
                $(imgList).empty();
                $('.js-modal1').addClass('show-modal1');
                $('#modal_name').text(data.name);
                $('#modal_content').text(data.content);
                if (data.tag !== ""){
                    document.getElementById("modal_tag").style.visibility = "visible";
                    $('#modal_tag').text(data.tag);
                } else{
                    document.getElementById("modal_tag").style.visibility = "hidden";
                }
                $('#modal_manufacturer').text(data.manufacturer);
                $('#modal_sex').text(data.sex);
                $('#modal_color').text(data.color);
                $('#modal_material_top').text(data.material_top);
                $('#modal_material_bottom').text(data.material_bottom);
                $('#modal_size').text(data.size);
                $('#modal_year').text(data.year);

                url = 'url('+ data.pic[0]+')';
                document.getElementById("imgmain").style.backgroundImage = url;

                for(i in data.pic) {
                  $('#imgList').append(
                    $('<li class="">').append(
                        $('<img>').attr("id", "img"+i)
                          .attr("src", data.pic[i])
                          .attr("data-image", data.pic[i])
                    ));
                }


                if($('.single_product_thumbnails ul li').length)
                {
                    var thumbs = $('.single_product_thumbnails ul li');
                    var singleImage = $('.single_product_image_background');

                    thumbs.each(function()
                    {
                        var item = $(this);
                        item.on('click', function()
                        {
                            thumbs.removeClass('active');
                            item.addClass('active');
                            var img = item.find('img').data('image');
                            singleImage.css('background-image', 'url(' + img + ')');
                        });
                    });
                }


            },
            error: function(err) {
              console.log('error', err);
            }
          })
        })
    });
  </script>
<script src="{% static 'js/categories_custom.js' %}"></script>
<script src="{% static 'js/single_custom.js' %}"></script>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript">
    $(document).on('submit', '.send_message',function(e) {
        e.preventDefault();
        e.stopPropagation();
        var csrftoken = $("input[name=csrfmiddlewaretoken]").val();
        var $form = $(this);
        var url = $form.attr( "action" );

        let collection = [];
        let gender = [];

        let elements = document.getElementsByClassName('active');
        console.log(elements);
        for (let elem of elements) {
            if (elem.value!==-1 && elem.value !==-2 && elem.value !==-3) {
              collection.push(Number(elem.value))
            }else{
              gender.push(elem.value)
            }


        }


        let data = {csrfmiddlewaretoken: csrftoken, categories:collection, gender:gender}
        console.log(data);
        $.get(url, data)
            .done(function(data) {
                $("body").html(data);
            });

    });
</script>

{% endblock %}







</body>
</html>
